[2018-04-05 19:10] sebastienros commented on #7873
There is a PR here: https://github.com/OrchardCMS/Orchard/pull/8009/files

can anyone test it?

[2018-04-05 19:22] sebastienros commented on #8007
We need to know what is the minimum version installed by Windows Update. Right now we use 4.5.2 as we are sure it's pushed by WU.

[2018-04-05 19:24] #7721 closed, assigned to nobody

[2018-04-05 19:25] MatteoPiovanelli commented on #8003
No. This service has been there for a while. My pr was to add custom information to invalidate the auth cookie.

[2018-04-06 08:30] ghost commented on #8006
@sebastienros  yes it also does not pass the tokens from the previous activity to the event it only pass tokens that were sent by the event itself

[2018-04-06 09:05] sfmskywalker commented on #8006
I tested this scenario extensively in OC. No problems there.

[2018-04-06 10:20] ghost commented on #8006
@sfmskywalker  I got to save the current (notify Role) activity's destination position and in the StatusChanged Event  I check if the current positions equals to the saved position .

[2018-04-06 13:04] HengzheLi opened #8017 "Why non English character can not be used as taxonomy name"
I created a taxonomy using a Chinese word. But when CreateTermContentType for this taxonomy, the name of it will be ToSafeName().

[code]

After this operation, the non English character and non digital character will be removed, then the name become empty. This will causes #7893.

However, the taxonomy can be created successfully as well as the Term content type for this taxonomy. The only proble

[2018-04-06 13:08] HengzheLi commented on #7893
Some new finding in #8017.

[2018-04-06 14:35] biapar opened #8018 "Is OAuth supported?"
Is OAuth supported?
If yes, Where is the documentation and example?
If not, How?

[2018-04-06 14:35] sfmskywalker commented on #8006
You mean in O1, or OC? In OC, you shouldn't have to do that - the workflow manager will do the right thing when resuming a workflow instance. If not, let me know.

[2018-04-06 15:15] MatteoPiovanelli commented on #8018
Hi,

There is module for OAuth on the dev branch.

[2018-04-06 15:17] MatteoPiovanelli commented on #7708
@HermesSbicego-Laser and I are resurrecting this.
As such, we did a small update to the scripts we used for concurrency testing here: https://github.com/LaserSrl/Newman-Orchard-Parallel-Tests-

The aim is to come up with an IDependency that simplifies handling concurrency. Its implementation we would be working on would not, probably, support multi-server concurrency: that could be implemented lat

[2018-04-06 15:29] MatteoPiovanelli commented on #7708
@Xceno @Skrypt @sebastienros @urbanit @ViRuSTriNiTy @Piedone
To quote the people who had previously replied

[2018-04-06 16:08] Skrypt commented on #7708
I'm not sure about this. Shouldn't we try to validate this from the events themselves? If 2 save events are triggered on the same AutoroutePart that have the same path values then we could simply warn the user that someone already created an Alias with that name... or simply not try to recreate something that is already there.

[2018-04-06 16:50] ghost commented on #8006
@sfmskywalker  no in O1 (1.10.2)

[2018-04-08 17:33] pgy866 commented on #8012
Thank you very much. Can add import excel data at the same time? I once submitted in orchard core! But the core version does not have this plan!
非常感谢，可以同时实现excel数据导入吗？我曾在orchard core中提交！但core版本没有此相计划！

[2018-04-09 07:19] MatteoPiovanelli commented on #7708
The issue, specifically for AutoroutePart, arises when attempting to save two distinct ContentItems "at the same time" (in local tests using the new scripts, when the calls are roughly 300ms apart), even when the paths are different, as long as we do not set IsolationLevel to ReadUncommited (see https://github.com/OrchardCMS/Orchard/issues/7720#issuecomment-305121760).
Setting that IsolationLevel

[2018-04-09 12:38] MatteoPiovanelli commented on #7708
That PR there is what I have in mind. I tested it for autoroute and tags using the scripts from our repo, and it appearsed to fix the issues we were seeing from the corresponding services.

I feel that having a service such as that one in place allows us more flexibility that doing everything custom everywhere we saw issues, because going to a multi-server scenario becomes a matter of swapping ser

[2018-04-09 13:39] MatteoPiovanelli commented on #7708
There are a bunch of places where `lock(something){ }` is used in the code. I have not tried to change any of those, because I don't know what is going on there enough to decide whether an approach is better than another.

[2018-04-09 17:02] mdameer commented on #7915
Thanks @sebastienros and @MatteoPiovanelli-Laser for your comments, I published the implementation for this issue on a public github repo [here](https://github.com/mdameer/Mdameer.RabbitMQ), so it will be very appreciated if you can take a look at it and give me your feedback.

[2018-04-09 18:45] TFleury commented on #8012
I don't see any use case of importing submissions from an external source, and importing is much more complicated then exporting.
It could be ported to Orchard Core when DynamicForm will be ready.

[2018-04-10 07:22] MatteoPiovanelli commented on #7708
With more experiments, it looks like the code in the PR does not fix all issues yet. We get more deadlokcs.

[2018-04-10 09:47] MatteoPiovanelli commented on #7708
On a clean tenant, where I only ran the Default recipe from Orchard 1.10.x, I use the scripts to concurrently create Page contents. Instead of starting with 1 content, I try and start with 2, so that I avoid things happening correctly just because there is something already created.

The LayoutPartDriver crashes:

[code]

[2018-04-10 14:50] HengzheLi commented on #6163
@jersiovic  Can this feature be a PR now?

[2018-04-10 15:17] MatteoPiovanelli commented on #7708
As a clue to how messed up things appear to be:

Using the code from the PR above.

On a freshly created tenant, whose setup was done using the Default recipe, I removed every part from Page, except TitlePart, and then I added back AutoroutePart, TagsPart and CommonPart. I was having errors at 2 concurrent creations. In the log I saw exceptions caused by some _contentManager.Query being terminated

[2018-04-10 15:18] sfmskywalker commented on #8012
I actually do see a use case for importing from an eternal source, but perhaps the Recipes feature is good enough. You would have to generate a recipe from an Excel file of course. Not sure if that part should be part of the core distribution. At the same time, if Excel export is supported, why not also import? I think they should either both be part of it, or none.

[2018-04-11 08:05] aduri opened #8020 "Module installing error in 1.10.2"
while installing any module it is populated error message
![picture1](https://user-images.githubusercontent.com/6480191/38604157-2becf286-3d8d-11e8-93ec-eaffcae16e0c.png)

[2018-04-11 08:17] Xceno commented on #7708
@MatteoPiovanelli-Laser Been some months since I touched orchard the last time, but from my memory the `System.ObjectDisposedException` above reminds me of another case where I've seen this a lot:

Build a Rest API that accesses any content with a `MediaLibraryPickerField` and return the `MediaParts` property. Call it in parallel and chances are good that it'll blow up from time to time with the e

[2018-04-11 08:40] alimuradjamali commented on #5716
rgherman - please can you provide more details on the fix? I want the source code plz for this issue.

[2018-04-11 08:42] alimuradjamali opened #8021 "Orchard CMS 1.10.2 Content Localization Still Not working when adding translation for Custom Link MENU"
Hi Contributors,

I am trying to create translation  for custom Menu but its not showing in the Navigation Menus list. It is working fine for Content Type Page.

[2018-04-11 12:57] MatteoPiovanelli commented on #7708
@Xceno I have not been able to consistently get that `ObjectDisposedException` here. It has not happened again in these tests I am running for concurrency.

Meanwhile, since I was seeing weird behaviours, I took a step back and changed things in the LockingProviders I am proposing, to log and bubble out exceptions thrown in the critical code.
I am seeing several sql timeouts while processing autor

[2018-04-11 15:19] MatteoPiovanelli commented on #7708
Even with the code for `AutorouteService.ProcessPath` locked between `Monitor.Enter` and `Monitor.Exit` I was still seeing queries failing, throwing timeouts or becoming deadlock victims.

[2018-04-11 15:39] Skrypt commented on #7708
It's been a while I looked at this part of Orchard too but to me it doesn't make sense that we add locking on each small process rather than just locking anything that could happen right when the event of updating the records is thrown. I mean that we should look for concurrency and queue the events. It's impossible that 2 update event be thrown at the same exact time. Though if doing an update ta

[2018-04-11 16:30] MatteoPiovanelli commented on #7708
I am taking autoroute as an example for two main reasons: it's a part we use almost everywhere, and it uses the existing values in the db to compute the next value. The first reason means I really want it to be flawless; the second that it's really easy to mess things up. I saw a bunch of other parts having issues, but autoroute is the one I found easier to play with.

I agree we should aim for a

[2018-04-11 21:41] Skrypt commented on #7708
@sebastienros Is that issue still also apply in Orchard Core?

[2018-04-12 02:47] HengzheLi commented on #8020
Do you start your application using IIS Express？ I guess you may need to grant the Write Access to your account the IIS Express used on Modules and Themes folder and check if these two folders are not ReadOnly.

Hope this helps

[2018-04-12 14:41] stelmar opened #8023 "Change culture code to respective culture name"
Hello Team,

In the localization part instead culture code(en-US or es-ES), we want to display culture name(English (United States)) as displayed in the attached screenshot.
![screenshot_culture](https://user-images.githubusercontent.com/36508171/38684380-353fb3ea-3e8d-11e8-86b5-480119893102.png)

Please let us know how to achieve the same.

[2018-04-12 14:47] MatteoPiovanelli commented on #7708
Later I'll join the triage meeting. I would like to discuss this issue, and maybe sketch a plan for further action towards a fix.

The way I see it, a common solution will take a big effort, and will likely need changes to IContentQuery to allow not hitting ContentItemRecord, ContentItemVersionRecord and ContentTypeRecord when they are not strictly needed, to avoid contentions there. On top of tha

[2018-04-12 19:17] sebastienros opened #8024 "LayoutPart tries to create a ContentTypeRecord"
And it leads to concurrency issues

On a clean tenant, where I only ran the Default recipe from Orchard 1.10.x, I use the scripts to concurrently create Page contents. Instead of starting with 1 content, I try and start with 2, so that I avoid things happening correctly just because there is something already created.

The LayoutPartDriver crashes:

[code]

[2018-04-12 19:53] sebastienros commented on #7708
- Matteo: Try with Serializable isolation level
- Seb: Find the solution to isolation levels which are lost when pooling connections
https://stackoverflow.com/questions/9851415/sql-server-isolation-level-leaks-across-pooled-connections/9851489

We should not solve the concurrent edition of the same content items, just handle it at the UI level
Also, try to repro concurrency issues with parts one b

[2018-04-12 19:55] sebastienros commented on #8023
Do you know which template is creating the drop down? If it's a shape you could just copy it in your module and customize it. If it's not a shape then it should be one.

[2018-04-12 19:56] sebastienros commented on #8020
Exactly, looks like a permissions error.

[2018-04-12 19:56] #8020 closed, assigned to nobody

[2018-04-12 19:57] sebastienros commented on #8021
I think the localization code is specific for the Menus, it's not rendered using a part. That would require a custom Menu editor.

[2018-04-12 20:00] #8018 closed, assigned to nobody

[2018-04-12 20:01] sebastienros commented on #8017
Because they are used for technical names. You can use any character in the display name.

[2018-04-12 20:01] #8017 closed, assigned to nobody

[2018-04-12 20:04] sebastienros commented on #8003
I would recommend to use a hostenvironment parameter to disable this feature.

[2018-04-12 20:10] #8011 closed, assigned to nobody

[2018-04-12 20:27] Skrypt commented on #7708
I have another proposal for Autoroute. Since the issue is that it tries to read the database while it also tries to update it we should read the route names from the RouteCollection instead of retrieving them from the database. That way we are also sure that we are comparing from the actual routes themselves. It should remove the lock issue.

[2018-04-12 23:42] Skrypt commented on #7708
@MatteoPiovanelli-Laser could you test my new branch and tell me if you are still having issues with the concurrency on GetSimilarPaths() or ProcessPath() functions?
https://github.com/OrchardCMS/Orchard/tree/autoroute-concurrency

[2018-04-13 07:54] MatteoPiovanelli commented on #7708
Testing for different Isolation Levels on O1.10.x
Each isolation level has been set directly in  the constructor of `TransactionManager`, and I made sure that the value is not overwritten by autofac. After changing that value I did a full rebuild and reset IIS.
I started off with a freshly created tenant, using the "Default" recipe.
Creation of "Page" ContentItems that only contain CommonPart, Tit

[2018-04-13 08:13] MatteoPiovanelli commented on #7708
I cherrypicked @Skrypt 's code from #8025 and tested it. Same conditions as before (rebuild, reset iis), with ReadCommitted Isolation Level.

Attempting to create two Page concurrently still fail, but one is created.

[code]

[2018-04-13 08:22] MatteoPiovanelli commented on #7708
Those errors when we had IsolationLevel set to ReadCommitted see to be related to the line

    ContentItem contentItem = _contentManager.Get(part.Record.ContentItemRecord.Id);
    var aspect = contentItem.As<ILocalizableAspect>();

in the `GenerateAlias(AutoroutePart)` method.

If I replace those with:

    var aspect = part.As<ILocalizableAspect>();

creation of two contents still fails, but the

[2018-04-13 12:58] Skrypt commented on #7708
Ok, means we are making progress. We need to change the HomeAliasService method that looks for the homepage.
https://github.com/OrchardCMS/Orchard/blob/dev/src/Orchard.Web/Modules/Orchard.Autoroute/Services/HomeAliasService.cs#L50

[2018-04-13 13:27] Jetski5822 commented on #7814
+1

[2018-04-13 13:53] MatteoPiovanelli commented on #7708
my feeling is that whenever and wherever we are querying from the db while performing some form of update, we are likely to lock on the three "main tables" (ContentItemRecord, ContentItemVersionRecord, ContentTypeRecord).

[2018-04-13 14:25] MatteoPiovanelli commented on #7708
For example, in this specific case:
The `AutoroutePartDriver` only really needs the Id of the home page ContentItem. There really is no reason to be doing a Get for the whole content for it.
Maybe that Id could be saved in a SiteSetting (then we'd have to handle that properly), or parsed from the routeCollection (doable when that is `Contents/Display/{Id}`.
Either of those solution would save us f

[2018-04-13 14:47] Skrypt commented on #7708
Yes if you look in the Alias module they are using a ConcurrentDictionary to store the Alias values. We could easily use the AliasService directly to retrieve/store which page is the homepage but we can also guess it by getting the Alias == "" in that data collection. Though, we still need to be able to update the Database if we change the homepage ID but we should only need the ID not the entire

[2018-04-13 15:29] MatteoPiovanelli commented on #7708
We definitely need to do that update, but in the exception we saw here we were just reading that.

[2018-04-13 16:19] Skrypt commented on #7708
Pushed a new commit to my branch. Please run your tool on it 😉

[2018-04-13 16:57] Skrypt commented on #7708
Ok from my side by running `node parallelTest.js` I get 2 content items created in the database.
Though I get an error from the Orchard.Tags.Drivers.TagsPartDriver only now. I removed the TagsPart from the Page content type and now it doesn't log any error.

![image](https://user-images.githubusercontent.com/3228637/38748136-25dc8642-3f1b-11e8-9de3-55d0ffbb3319.png)

[2018-04-13 17:40] MatteoPiovanelli commented on #7708
Tagspartdriver i fixed in my pr above

[2018-04-13 19:34] Skrypt commented on #7708
I merged your PR into mine locally to test and I'm still getting a lock error but inside the LockingProvider. So, probably the test was never reaching the TagsPart driver "failing before".
[code]

[2018-04-13 19:54] MatteoPiovanelli commented on #7708
I never got those errors like that. And it looks like both Pages are throwing them.

[2018-04-13 20:32] Skrypt commented on #7708
I'm finding more lock issues as I fix them. Found one in the MenuPartDriver and LayoutPartDriver.

[2018-04-15 03:55] pgy866 commented on #8012
I'm sorry, I don't program, I'm the user. Thank you very much for sharing. EXCEL dynamic forms are a very good thing if they are everywhere. Try to use simple OA system such as contact form, customer profile information, etc. , very good, expecting

`非常抱歉，我并不会编程，我是使用者，非常感谢所有共享，EXCEL 动态表单若能到处是一个非常好的东西，在尝试用于简单的OA系统中比如联系表单、客户资料信息、等，非常好，期待`

[2018-04-15 09:30] HengzheLi commented on #8012
@pgy866   https://github.com/salween/ToolsConvert   这是一个orchard xml和csv格式互转的工具  你可以试试看能不能满足你的要求

This is a tool for inter-transforming between xml and csv. You can hava a try if it meet your requirement.

[2018-04-15 11:51] pgy866 commented on #8012
@li0803
非常感谢您！发现这么美好的一个开箱即用的工具！可以我的一些需求！

Thank you very much! Discover such a wonderful tool out of the box! Can some of my needs!

[2018-04-15 12:04] pgy866 commented on #8012
@TFleury
@TFleury If, for development functions, it is recommended to generate an EXCEL fixed template corresponding to the imported ORCHARD through a dynamic form and then import the data. PS: I don't know how to program. I don't know whether it can be implemented. I just saw it on other projects.
`如果，开发功能，建议：通过动态表单生成一个对应导入ORCHARD的EXCEL固定模板，然后在导入数据。PS: 并不会编程的我，不知道是否可以实现，只是在其它项目看到过，是这种方式实现`

[2018-04-15 16:03] HengzheLi opened #8026 "Can PR #6839 re-submit to apply #6838"
Hi @sfmskywalker,

Seems that PR #6839 was closed before it was merged. Can this PR re-submit as I am using it in my project and it looks working well? If you are busing on other work. I may submit it from my side.

Thanks

[2018-04-15 17:49] sfmskywalker commented on #8026
Yeah you're right, not sure how that happened but I reopened the PR.

[2018-04-15 17:49] #8026 closed, assigned to nobody

[2018-04-15 17:52] sfmskywalker commented on #8026
Actually, reading the thread on the referenced issue, it turns out we decided this PR wasn't necessary. However feel free to make your case as to why you think it is necessary after all here: #6839

[2018-04-17 06:00] HengzheLi opened #8027 "unknow loop in RolesBasedAuthorizationService.cs"
in line 46, there is a loop line:
`for (var adjustmentLimiter = 0; adjustmentLimiter != 3; ++adjustmentLimiter) {`
But the variable **adjustmentLimiter** never been used in this loop. And seems that it does the same thing in very loop.

Can someone provide some clues about the mysterious number **3** and why it does the same thing for 3 times?

[2018-04-18 16:07] carlwoodhouse commented on #8007
i think 4.5.2 is the minimum req version by wu still. though 2016/win10+ come with 4.6.1 pre-installed.

that been said, give 4.6.2 so i can use the http2 features ;p

[2018-04-19 19:07] sebastienros commented on #8027
It's calling some authorization handlers that can change the permission to check. If the permission to check is changed too many times (3 times) then we stop as it could mean there is an issue in the logic.

[2018-04-19 19:07] #8027 closed, assigned to nobody

[2018-04-19 19:10] #8003 closed, assigned to nobody

[2018-04-19 21:03] HermesSbicego-Laser opened #8030 "Non-creatable contents are actually still creatable"
Despite their setting (creatable is set to false), non-creatable contents are wrongly still creatable.
From what I can see, I found 4 cases:
1. Accessing directly the `Create Action`
2. Accessing directly the `Clone Action`
3. Filtering in the `SummaryAdmin` for a non-creatable content the create button still permit to create that `ContentType`
4. In the SummaryAdmin the `Clone ActionLInk` is ther

[2018-04-19 21:29] sebastienros commented on #8030
This is just to hide it from the New menu section.

[2018-04-20 06:13] HermesSbicego-Laser commented on #8030
Yes, you are right, by now is the only effect and that is the point. But my suggestion was to have a coherent option (I would like not a different one, since a setting exists) even if more restrictive.

[2018-04-22 20:54] mdameer commented on #8002
I think you can define the byte array column as `Builder.Column("fileBytes", DbType.Binary)`, please refer to this [link](https://www.tutorialspoint.com/nhibernate/nhibernate_data_types_mapping.htm) for more information about "NHibernate - Data Types Mapping"

[2018-04-23 15:44] ghost opened #8032 "Override Module Elements"
I'm trying to override some Elements from DynamicForms Module .

But still orchard don't pick up My Elements from the theme on /Views/Elements Folder

any help ?

[2018-04-23 17:19] sfmskywalker commented on #8032
Can you show us what you did exactly?

[2018-04-23 20:38] Jarre10 opened #8033 "Assigning a LocalizedString to an HTML attribute could cause rendering issues"
An example in Razor would be:
`<input class="btn btn-primary full-width" type="submit" value='@T("Register")'/>`
Translating Register in French would yield S'enregistrer.
Once the page gets rendered, you'll see a submit button with just an 'S' in the button text.
The HTML that ultimately got rendered on the page is:
`<input class="btn btn-primary full-width" type="submit" value="S" 'enregistrer'="

[2018-04-23 21:34] Skrypt commented on #8033
Not `value='@T("Register")' ` but `value="@T("Register")"`. That's a HTML integration error. HTML parameter values should never be encapsulated with 'something'.

[2018-04-24 08:08] ghost commented on #8032
@sfmskywalker lets take the example of `Forms.cshtml` on `DynamicForms/Views/Elements/Forms.cshtml`
i tried to make the same route on my theme/Elements/Forms.cshtml

but Orchard didn't pick it up .

[2018-04-24 08:33] sfmskywalker commented on #8032
I tried and it just works. Perhaps you can do a short screencast and show us exactly what you're doing?

[2018-04-24 10:26] ghost commented on #8032
I don't know but it worked after a clean rebuild

[2018-04-24 10:26] #8032 closed, assigned to nobody

[2018-04-24 10:43] ghost opened #8034 "Workflow Ordering Activities (Transitions)"
I'm trying to get a work transitions in order .

whenever i add a new activity its inserted as the first Activity in the transitions List from the workflowContext .

[2018-04-24 12:17] mehranrezaei opened #8035 "OnUpdating<TPart>not firing"
I have a ContentPart with a ContentPartHandler. I defined OnUpdating event handler for this part.
Now when I get this part for a content item in code using ContentManager and modify it, OnUpdating event handler does not execute. It runs when I modify part in driver.

Is this by design or I am wrong?
How I can make content part events firing when I update part from code?

[2018-04-24 14:36] MatteoPiovanelli commented on #8035
Hi, this is by design. Those events are fired as part of a "chain" of events. See in Orchard.Core.Contents.Controllers.AdminController. You would be looking for the EditPOST method.

To replicate firing all the events, I think you should be calling ContentManager.UpdateEditor(), but that requires you to pass an IUpdateModel instance.

[2018-04-24 15:32] Jarre10 commented on #8033
Ah. Thanks for that catch!

[2018-04-24 15:32] #8033 closed, assigned to nobody

[2018-04-24 20:49] sfmskywalker commented on #8034
I'm not sure what your question is. Can you rephrase and or elaborate what you're trying to do, what you need to know, or how it's failing?

[2018-04-25 07:39] armanforghani commented on #8035
@mehranrezaei As @MatteoPiovanelli-Laser mentioned above you should call ```UpdateEditor``` method to fire  those events. You can implement ```IUpdateModel``` interface in your controller and pass the controller instance itself as an updater.
I recommend to follow all references of ```UpdateEditor``` in source code to find its usages.

[2018-04-25 07:42] mehranrezaei commented on #8035
@MatteoPiovanelli-Laser
@armanforghani
Thanks all you guys.

[2018-04-25 08:19] ghost commented on #8034
@sfmskywalker  Lets say we have a workflow which contains 10 activities each activity have only one outcome .

in the transitions record i want to get the first transition as index 0 and the seconde is 1 etc ...
because my current workflow contains 8 activities but each time i add an activity its added in the last index of the array `(Count - 1)` so i don't know which one is the starting point and

[2018-04-25 10:20] sfmskywalker commented on #8034
I'm not sure why you would want to do that, but you could just take the first activity (the one having zero incoming transitions), and then find the next activity by selecting the transition whose `SourceActivityId` is the one of the first activity. Having that transition, you now know the next activity which is stored in the transition's `DestinationActivityId` property. You can then continue wal

[2018-04-25 10:30] ghost commented on #8034
@sfmskywalker thank you for your reply .

  what i'm trying to achieve is i'm making a dynamic Wizard using `Dynamic Forms` and `Workflows ` So i'm creating for example 3 Forms .

and i'm using workflows with a custom activity , i'am redirecting the user from one page (Form) to another .

so i want to be able to get how many Steps (Pages) i have .

this is easy however i need to sort those `Redire

[2018-04-25 10:31] ghost commented on #8034
using Transitions record is not sorted . because in the `index[0]` i'm getting a transitions which will be executed after some other transitions . so the transitions on the `WorkFlowContext ` class is not Sorted.

the wizard works without this . but why i need it is to inform the customer what's the next step etc ..

[2018-04-25 12:09] mehranrezaei commented on #8035
@MatteoPiovanelli-Laser
@armanforghani

I have a new problem. Please help.

I defined a simple internal field in my content part as the following:
```internal decimal PreviousPrice;```

I set this field in OnLoaded event handler:
[code]

The problem is the part has not this value when it passed in EditorPost method of its driver.
Why the different instance of content part has been passed to the dr

[2018-04-25 14:00] armanforghani opened #8036 "Prevent versioning for non-draftable items"
I created a new content type that is not draftable.
But when i edit its content item using the default content management UI (```Admin/Contents/Edit/ID```) a new version of item will be created for each edition.

I think this is because of the following line in ```EditPOST``` method of ```Orchard.Core.Contents.Controllers.AdminController```.

```var contentItem = _contentManager.Get(id, VersionOpt

[2018-04-26 07:03] MatteoPiovanelli commented on #8035
Looking through `DefaultContentManager.Get(int, VersionOptions, QueryHints)`  you'll find that the `Loaded` handlers are only invoked in some conditions. My guess is that when you are going through the POST Editor method the item is being returned from session, so it does not go through those events.

[2018-04-26 19:02] #8035 closed, assigned to nobody

[2018-04-26 19:03] sebastienros commented on #8036
Not draftable means there is no draft, just a published version, but historical version are still kept.
We added a different option in Orchard Core to handle this independently. You could port the code back to O1 if you need it?

[2018-04-26 19:05] sebastienros commented on #8002
thanks @mdameer , we should probably handle it directly in the `SchemaBuilder` code like we do for other types.

[2018-04-26 19:06] sebastienros commented on #8030
You can use permissions, as they are also checked before rendering the links to create items. We do that with content permission. Have you tried to remove the permission from a role, that should work?

[2018-04-26 19:18] sebastienros commented on #7873
Can anyone who is concerned by this issue try the PR https://github.com/OrchardCMS/Orchard/pull/8009

[2018-04-26 22:02] mdameer commented on #8002
You are right @sebastienros, so we can handle it with adding new condition to `SchemaUtils.ToDbType` method like following:
[code]
If you agree with this solution, I can make the PR for it.

[2018-04-27 09:14] HermesSbicego-Laser commented on #8030
That was an option we considered but there is no a "create content" permission.
I see three ways to achieve the feature.
1. To use the "creatable" settings in order to hide create button in contents list and hide clone link in summaryadmin, as well in the "new" menu. We can keep routes actives (as is, without any check against the setting) for backward compliance.
2. Add a new permission for each

[2018-04-27 09:54] HengzheLi opened #8037 "Query could not filter content items based on contentpicker field"
1. Append a contentpicker field file to a contenttype, set the
2. Create a contentitem of this type and assigne a content to that contentpicker field. let's say the id of content assigned to contentpicker is 10
3. Create a query and use the contentpicker field filter as the query filters. And set the filter value is 10
4. Preview this query. The query returned no results. It should return the cont

[2018-04-27 16:25] sebastienros commented on #8030
The effect of Creatable should not be changed.

Instead you should ensure that the ways to create items, as states in your first comment, should be secured by ensure the permissions are correctly enforced.

[2018-04-28 08:57] armanforghani commented on #8036
@sebastienros Thank you for your reply. I will check the new option in Orchard Core.

[2018-04-29 03:13] HengzheLi opened #8039 "The selected query in QueryElement is lost when import from an exported recipe"
1. Create a page with LayoutPart
2. Drop a QueryElement into this layout
3. Select a query
4. Export this page into a recipe
5. Import the exported recipe into another tenant.
The query of QueryElement selected is lost

[2018-04-29 06:25] sfmskywalker commented on #8039
Did you als export the Query itself?

[2018-04-29 08:26] HengzheLi commented on #8039
I think it was. I selected all ContentDefinition and all Content to expot. I think the Query was exported as well

[2018-05-01 10:12] carlwoodhouse commented on #7898
we seem to be also suffering from this, major PITA. Will add more detail when/if we get it. /cc @Jetski5822

[2018-05-01 13:15] li0803 commented on #8037
seems like that the QueryElement used query's id as foreign reference in exported recipe:
[code]

According to the usage of IdentityPart, I think it may use Identity instead of the DB id's value.

[2018-05-01 13:16] HengzheLi commented on #8039
seems like that the QueryElement used query content database id as foreign reference in exported recipe:
[code]

According to the usage of IdentityPart, I think it may use Identity instead of the DB id's value.

[2018-05-01 17:06] HermesSbicego-Laser commented on #8030
Although I cannot imagine why the effect of Creatable should not be changed, we will work on a solution providing a new permission `Create new content`: we will provide that permission for all securable contents, as per the `edit content` permission. If a role has the `Create new content` permission will also have the `edit own` permission too, otherwise after the first save the user will see an U

[2018-05-01 19:10] sebastienros opened #8040 "[Concurrency] Menu query doesn't handle concurrency"
[code]

In MainMenuService.

[2018-05-02 10:50] mdameer commented on #7885
@sfmskywalker, it's so nice to hear from you again, I think the code you shared will have the same impact, as long as it depends on Nhibernate class mappings to load the database schema, can you please take a look at my suggested solution in PR #8031 and give me your feedback.

[2018-05-02 17:05] sfmskywalker commented on #7885
I see. My code does indeed depend on NHibernate class mappings. And since the "reset tenant" functionality relies on this, that feature is potentially broken if someone disables a feature that created a table.

I looked at your PR, and it looks good to me.

[2018-05-02 17:05] sfmskywalker commented on #7885
And yes, it's great to hear again from you too :)

[2018-05-03 08:06] #8037 closed, assigned to nobody

[2018-05-03 08:46] HengzheLi commented on #7932
I think here is the reason. In Themes\TheAdmin\Views\Menu.cshtml  line 9.
[code]
Then it goes to WebViewPage.cs to include a style file.
[code]
When the code goes here, the base folder of Style is Themes\TheAdmin\Styles, but the actual style files need to include are located in the style folder of Module where the style file belongs to.

I tied to fix this. But it is hard to know what is the modul

[2018-05-03 19:07] sebastienros commented on #3310
Duplicate of #7932

[2018-05-03 19:08] #3310 closed

[2018-05-03 19:13] sebastienros commented on #7932
The actual issue is in the links being generated are not include /[Module] anymore.

Probably related to https://github.com/OrchardCMS/Orchard/issues/8008 so fixing it should fix both issues.

[2018-05-03 19:50] sebastienros commented on #8040
For reference while trying to understand why this query is locking:
https://www.brentozar.com/archive/2018/04/how-entity-framework-and-nhibernate-can-cause-poison-resource_semaphore-waits/
http://sqlapproach.blogspot.com/2012/08/active-processes.html

[2018-05-03 20:15] sebastienros commented on #8030
Ok for a new Create permission

[2018-05-03 20:17] #8036 closed, assigned to nobody

[2018-05-03 20:17] sebastienros commented on #8002
I agree, plus some unit test obviously

[2018-05-04 09:19] HengzheLi commented on #7932
unfortunately, to fix #8008 could not fix this issue. I already apply #8009 which has fixed #8008 in my local version. But this issue still exist.

[2018-05-04 11:31] ghost opened #8042 "Identity Server Register IUserService"
I'm implementing the `IUserService `of the identityServer3 .

[code]
[code]

and adding IUserService as a dependency.

[code]

but i'm still getting the exception from autofac `None of the constructors found with '` even tho the Module is picked up before the Middleware .

is there any way to accomplish this ?

thanks .

[2018-05-05 10:21] ActivePHOENiX opened #8043 "Asynchronicity for Orchard v.1"
As we know Orchard Core operations and requests are mostly designed in async mode, my question is,  is there any possibility to port that kind of achievement to O1 or custom modules themselves should implement the async/await model internally rather than having Orchard core modules support the approach?

[2018-05-05 10:28] ActivePHOENiX opened #8044 "YesSql support for Orchard v.1"
Is there any plan to port YesSql feature and capability to orchard v.1? If we want to get rid of CommonRecord altogether what would you suggest about the right way to do it .
We have reached to a conclusion that join queries accrued by CommonRecord can degrade the query performance and not adding reference to CommonRecord while defining the table in migration class can help , as CommonRecord is pa

[2018-05-07 08:28] ghost commented on #8044
the common part should always exist in the content types cause it gives informations about the type such as the versionning informations and owner etc ... unless you have a way to implements those informations which is not recommended cause orchard always look for the "commonpart" so even if you managed to implements those informations somewhere you ll have to change orchard to look for the someth

[2018-05-07 08:30] HengzheLi opened #8045 "Parts_User_EditPassword_Edit shape could not display in tenant"
From placementinfo:
[code]

When a tenant has a URL prefix, then it won't match the Path pattern

[2018-05-07 14:25] LorenzoFrediani-Laser opened #8046 "DateTimeEditor implementation don't fire event javascript "change" when date is changed"
the javascript CalendarsPicker used on DateTimeEditor don't implement method onSelect
i suggest change this on Orchard.jQuery\Views\EditorTemplates\DateTimeEditor.cshtml

@if (Model.ShowDate) {
                <text>
                $("#@Html.FieldIdFor(m => Model.Date)").calendarsPicker({
                    showAnim: "",
                    renderer: ..........
            }

to this

@if (Model

[2018-05-07 14:45] LorenzoFrediani-Laser commented on #8046
the same fix for  Orchard.Resources\Views\EditorTemplates\DateTimeEditor.cshtml too

[2018-05-09 21:16] Piedone opened #8049 "Per-item content permissions deny SiteOwner"
The SiteOwner permission granting god-mode to users I'd expect it to also allow you to view every content item, including the ones which have content item permissions configured with Orchard.ContentPermissions.

However if in ContentPermissionsPart you don't have the users' role explicitly selected it will deny access to that content item (unless the user is also the super user). This happens in `

[2018-05-10 09:11] MatteoPiovanelli commented on #8040
tl;dr: The issue we have seems to not be the one indicated in the links.

I am trying those tests.

I am using the 1.10.x branch, and a fresh tenant. I try to create contents of type Page. The definition of this ContentType has been changed, so it only contains: CommonPart, TitlePart, MenuPart. I did that because we know there is a concurrency issue with the MenuPart, and I did not want to have ot

[2018-05-10 09:50] MatteoPiovanelli commented on #8040
the second result for querying
nhibernate LCK_M_S
on google is #4566 , so I am checking that

[2018-05-10 13:25] MatteoPiovanelli commented on #8040
I am trying to see the information from sp_BlitzLock (one of the scripts from the sources @sebastienros posted).

![image](https://user-images.githubusercontent.com/19283945/39871408-00ed2206-5465-11e8-9d0c-849c558109bc.png)

Note that all the deadlock reported there are the ones I caused earlier by launching the scripts for 2 concurrent page creations (see two comments above for my test condition

[2018-05-10 14:20] sebastienros commented on #8040
Can you try to configure NH to use Hilo identity ? This is what I am also doing in YesSql (Orchard Core)

[2018-05-10 14:40] MatteoPiovanelli commented on #8040
I am checking that right now.

[2018-05-10 14:56] MatteoPiovanelli commented on #8040
@sebastienros could you point me to wherever the NHibernate configuration is handled right now, so I don't have to search for it myself?

[2018-05-10 15:23] MatteoPiovanelli commented on #8040
I found that, but I still have to figure out how to configure that setting.
So far, I found this: https://stackoverflow.com/a/11402990/2669614

[2018-05-10 15:46] MatteoPiovanelli commented on #8040
I don't think I know enough about NHibernate to figure out how to do the configuration for this in a timely manner. Perhaps someone could step in?
I would be adding the stuff from that SO answer in `AbstractDataServicesProvider`, or in `SqlServerDataServicesProvider`, where I would override `AlterConfiguration`.

I don't know what else I would need.
Likely something to update all existing tables i

[2018-05-11 08:25] MatteoPiovanelli commented on #8040
Thinking about my last comment from yesterday, i think that the changes to the configuration shouldn't be in `SqlServerDataServicesProvider`, because they imply other changes in the behaviour of everything, and I am not sure there is an easy way to make sure it's possible for those to be in place for MSSQL Server only.

[2018-05-11 09:10] ghost opened #8051 "AntiForgeryToken Workflow"
on dev 1.1x when creating a workflow it works all fine . but when editing an existing workflow .
and exception is thrown AntiForgeryToken does not exist .

[2018-05-11 09:33] MatteoPiovanelli commented on #8040
Looking at the code, I have more comments on this. What I say here may be wrong, so correct me as needed:

 - `Orchard.ContentManagement.Records.ContentPartAlteration` sets the mappings for the Id of `ContentPartRecord` and `ContentPartVersionRecord` to be generated as a "copy" of the id of the `ContentItemRecord` or `ContentItemVersionRecord` respectively. This may mean that we only need the hilo

[2018-05-11 09:52] #7834 closed, assigned to nobody

[2018-05-11 13:53] MatteoPiovanelli commented on #8040
I found a workaround for the issues here.
Since the tools report that the SELECT statements are deadlocking because sql server is too pessimistic and locks the entire tables for TitlePartRecord and ContentItemVersionRecord, I wrote an interceptor that adds "WITH (NOLOCK)" to the SELECT statements for those tables. This appears to fix things for the specific case of the issue here, and lets me crea

[2018-05-11 15:17] sfmskywalker commented on #8051
I tried both **dev** and **1.10.x**, but could not reproduce the issue you mentioned. I'm closing this one, but feel free to reopen if you have repro steps on a vanilla Orchard installation.

[2018-05-11 15:17] #8051 closed, assigned to nobody

[2018-05-11 19:21] #8039 closed, assigned to nobody

[2018-05-11 19:24] sebastienros commented on #8044
I did the conversion 5 years ago, and it was able to go through Setup, but at that point it would be less effort to migrate to OrchardCore than migrating an app on Orchard1 to this new model if that was implemented. So I don't think anyone should even try to do it.

[2018-05-11 19:26] sebastienros commented on #8043
That would be a huge breaking change and would not provide all the expected benefits. At that point people would be better off moving to Orchard Core if performance is the main reason.

[2018-05-11 19:27] #8002 closed, assigned to nobody

[2018-05-13 15:26] ActivePHOENiX commented on #8044
@sebastienros Thank you for your direction and leadership, now I need to change and correct my point of view.

[2018-05-13 15:26] #8044 closed, assigned to nobody

[2018-05-13 15:34] ActivePHOENiX commented on #8043
@sebastienros  Yes exactly I was thinking about performance, thank you for the response and direction, our team would plan to migrate to Orchard Core as soon as possible. Hats off to you.

[2018-05-13 15:34] #8043 closed, assigned to nobody

[2018-05-15 12:29] Piedone commented on #6240
Fixed in https://github.com/OrchardCMS/Orchard/pull/6604.

[2018-05-15 12:29] #6240 closed

[2018-05-15 15:21] ghost opened #8055 "Workflow Activity State"
I Tried to create a branch activity which takes a value from the record using a custom form .
it works fine and i can clearly see the value inserted into the ActivityRecords table .
on the GetPossibleOutcomes i'm creating outcomes depending on the the activity value .

the Activity **state** in the table : `{"PageId":"13"}`

on the get possible outcomes :

[code]

for some reason PageId is always

[2018-05-15 16:03] HengzheLi opened #8056 "767 length limitation in mysql"
Create a new tenant using mysql as database. Occur below error while setting it up
[code]

Got the sql from vs debugger, it is:
`create index `fy_IDX_AutoroutePartRecord_DisplayAlias` on `fy_Orchard_Autoroute_AutoroutePartRecord` (DisplayAlias(767))`

From SO answer https://stackoverflow.com/questions/1814532/1071-specified-key-was-too-long-max-key-length-is-767-bytes/31474509#31474509. I guess ma

[2018-05-16 09:57] ghost commented on #8015
@sebastienros thanks for your reply ! .
can you give a link to a conference which discuss how to generate links with that effects actions ?

[2018-05-17 19:06] sebastienros commented on #8015
No idea, start with that: https://www.youtube.com/results?search_query=orchard+workflow

@sfmskywalker any idea?

[2018-05-17 19:07] sebastienros commented on #8056
Dev branch?

[2018-05-17 19:08] sebastienros commented on #8055
@sfmskywalker

[2018-05-17 19:10] #7885 closed, assigned to nobody

[2018-05-17 19:17] #7720 closed, assigned to nobody

[2018-05-17 19:17] #7708 closed, assigned to nobody

[2018-05-17 19:17] #8040 closed, assigned to nobody

[2018-05-17 19:25] #7956 closed, assigned to nobody

[2018-05-17 20:07] ghost commented on #8055
@sebastienros the branch is splited on the Activity View . but still the GetOutcomes method is not
getting the activity record informations .

[2018-05-18 01:18] HengzheLi commented on #8056
Yes

[2018-05-21 09:16] sfmskywalker commented on #8015
No idea, but I'll record a quick screencast.

[2018-05-21 09:56] sfmskywalker commented on #8055
User Task Activity: https://www.youtube.com/watch?v=iioKQkXUwXA

The other one follows next.

[2018-05-21 13:32] sfmskywalker commented on #8055
Here's a screencast showing how to use the Trigger URL token in combination with the Signal and Email activities: https://www.youtube.com/watch?v=M57Dp0O3ttI

[2018-05-21 13:33] sfmskywalker commented on #8055
I think I confused this issue with the other one here #8015

[2018-05-21 13:35] sfmskywalker commented on #8015
* User Task Activity in action: https://www.youtube.com/watch?v=iioKQkXUwXA
* Signal activity, Send Email activity and TriggerUrl token in action: https://www.youtube.com/watch?v=M57Dp0O3ttI

[2018-05-21 13:35] #8015 closed, assigned to nobody

[2018-05-21 13:37] sfmskywalker commented on #8055
@bufferz There's nothing special being done to get the activity's form state, so you're probably doing something wrong or missing something if it doesn't work in your custom activity. Perhaps if you shared the full activity's source code I can try it on my machine and help identify the issue.

[2018-05-21 23:13] ghost opened #8060 "System.Drawing and other system libraries cannot be loaded."
Create a new module add system.Drawing and Debug your project twice you'll notice the seconde debug and exception is thrown : Module cannot be loaded .

always on the first debug (Clean/Rebuild) it works but on the next debugs the exception is thrown .

[2018-05-24 23:00] edwardm opened #8062 "Orchard Gallery can't install any modules, locally or on live site"
I'm bringing this issue over from the Orchard Gallery project:
https://github.com/OrchardCMS/Orchard.Gallery/issues/38

![edward margallo ux ui design development install package failed](https://user-images.githubusercontent.com/444720/40517698-7827d09e-5f6b-11e8-83a6-5c4783f21b57.png)

Anyone have any ideas?

[2018-05-25 12:47] sfmskywalker commented on #8062
I was wondering if I was the only one seeing this issue. I can't seem to install anything from the gallery, or from the local machine for that matter. Not even packages from the gallery that used to work before. So far it's been a mystery to me.

[2018-05-28 10:35] rezarouf opened #8063 "Orchard Search Doesnt show any results ,"
I have turned on Lucene,Indexing,Search. Created Index,Added page to Index,set search parameters but still it only shows the Word SEARCH on the results screen
![image](https://user-images.githubusercontent.com/39696836/40610634-d6d5edc4-6290-11e8-94fe-031f539008ac.png)
![image](https://user-images.githubusercontent.com/39696836/40610649-e3a638d8-6290-11e8-93d1-90227ba6f20f.png)
any idea or help is

[2018-05-28 10:36] rezarouf commented on #8062
Do a clean build, delete  files inside the bin and run again.

[2018-05-28 10:49] Ifetayo opened #8064 "AuthenticationService GetAuthenticatedUser and OrchardServices WorkContext CurrentUser() failing intermittently"
Hi,
I am having some issues with the above methods. For some reason the authenticationservice **GetAuthenticatedUser** and orchard services workcontext **CurrentUser** methods fail to get the authenticated user.

I have a pretty simple set up I just want to get the authenticated user. This behaviour happens say once in about a hundred times.

I think it is worth noting that I am logged in with the

[2018-05-29 07:20] rezarouf opened #8065 "Front End Image Uploader"
How to implement an image uploader ,where authenticated users can upload their photos without accessing the dashboard.

[2018-05-29 07:25] MatteoPiovanelli commented on #8064
Hello,

`WorkContext.CurrentUser` is not a method as far as I know, so I'll assume that is a typo in the issue here.

What exactly is failing? Is `currentUser` null?

I would try, as a comparison in your method, something different, because I am not sure comparing an existing record to a new one, even where you set the Id, is correct. Something like this:

[code]

[2018-05-29 12:43] Ifetayo commented on #8064
thank you @MatteoPiovanelli-Laser for your response. Yes indeed that was a typo and I have corrected it.

The crux of the issue is that  `WorkContext.CurrentUser` returns null intermittently.
Even if the way I was comparing existing records isn't how it should be done, fact is that the `currentUser` returns null thereby causing a null ref when I use this `currentUser.Id`.
Just as I pointed out eve

[2018-05-29 13:16] MatteoPiovanelli commented on #8064
You may be seeing the issue I was seeing related to this:

https://github.com/OrchardCMS/Orchard/blob/1.10.x/src/Orchard.Web/Modules/Orchard.Users/Services/MembershipValidationService.cs

Basically, if you login from a different browser, you get logged out from every other client.

You may configure that differently from sites.config

[2018-05-29 13:29] Ifetayo commented on #8064
Thank you @MatteoPiovanelli-Laser I seriously doubt that is the case. When `WorkContext.CurrentUser` returns null, I do a simple page refresh and I get back the current user object.

Just like I said this happens intermittently.

[2018-05-29 13:38] MatteoPiovanelli commented on #8064
Are you running 1.10.x? or a build from the dev branch?

[2018-05-29 13:40] Ifetayo commented on #8064
@MatteoPiovanelli-Laser Orchard 1.10.2, thank you.

[2018-05-29 14:01] MatteoPiovanelli commented on #8064
Since a refresh "fixes" this, I would like to make sure it's an issue on Orchard's side:
Could you check whether, when it failed, the browser had sent the correct cookies? The one we are interested in is the .ASPXAUTH cookie, that contains the information Orchard uses to identify the authenticated user.
I am not sure what would be the best way to test that.
If you can make this happen somewhat rel

[2018-05-29 14:12] Ifetayo commented on #8064
Thank you @MatteoPiovanelli-Laser for your response.

Replication of the issue is rather vague, it happens with intermittently and indeterminately.

I suspected that the case was the browser not sending the correct cookie value, I am logging all cookies sent for every request. I hope to replicate the said issue soon. I will keep you posted on the outcome. Thank you very much @MatteoPiovanelli-Lase

[2018-05-31 19:04] sebastienros commented on #8065
You can try to reproduce the code that is done on the back end.

[2018-05-31 19:04] #8065 closed, assigned to nobody

[2018-05-31 19:05] sebastienros commented on #8063
You need to configure which content types are indexed, then ensure that the index is up to date.

[2018-05-31 20:14] Vaclav-Volek opened #8066 "Email Validation pattern fails"
Hi,
in Orchard.DynamicForms.ValidationRules.EmailAddress is validation pattern:
`Pattern = @"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$";`

Validation of email fails for domains that have more than 4 characters after dot. This limitation is little bit crazy. It fails for example for domains: xxx.network, xxx.academy, xxx.accountants, .....

Could you please fixit.

Thank you very much :)

[2018-05-31 21:12] sebastienros commented on #8066
At the time we wrote it there were not such domains, but now it's totally valid, correct.

Have you thought about creating a PR and updating the unit tests, that would expedite the process.

[2018-05-31 21:20] sebastienros commented on #8066
Quick notes:
- This pattern is used in many places, so we need to search for it everywhere.
- This is the official TLD list: http://data.iana.org/TLD/tlds-alpha-by-domain.txt, the longest is 24 chars right now but the specification states it can be up to 63 chars, so we need to change the regexp to

"^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"

[2018-06-01 07:15] #8063 closed, assigned to nobody

[2018-06-06 10:09] MaiklT commented on #7785
I had the same problem - changing the settings for anonymous authentification (in IIS manages) from IUSR to "Application Pool Identity" it worked.

[2018-06-07 19:02] #7785 closed, assigned to nobody

[2018-06-09 12:48] christopherie commented on #6318
@davegardner hi there is this till an issue as I tried to reproduce the error.

[2018-06-12 06:42] npsniloo commented on #7392
I AM running the latest version in iis and have the problem same as you

[2018-06-12 06:45] npsniloo commented on #7392
ok  i think it is solved now too

[2018-06-14 19:08] #7780 closed, assigned to nobody

[2018-06-14 19:09] #7833 closed

[2018-06-14 19:11] #6920 closed

[2018-06-15 01:01] parxal commented on #6747
Same  problem installing a fresh new version 1.10.2, Visual Studio 2017, When opening the solution  NHibernate.Linq nuget package  is missing, add that, try to install on sql server 2016, tables are created but orchard never starts, i get that error...

[2018-06-17 14:35] HengzheLi opened #8070 "DELETE method is not implemented in WebRequestActivity"
There is DELETE option in WebRequestActivity edit form. But the DELETE method is not implemented in activity's Execute method.

[2018-06-18 07:27] rezarouf opened #8072 "Cannot Hide custom modules from dashboard admin panel"
i have several roles, each role has some access, eg : superadmin can see all the modules , but HR can see only some modules ,so hiding of default modules is possible ,by giving permissions but custom modules is not getting hidden even if i set "manage" permission as disabled.
any help is appreciated

@sebastienros
@Piedone

[2018-06-18 08:20] MatteoPiovanelli opened #8073 "Concurrency on TaxonomyField"
Hello,

The other day I was again playing with the concurrent scripts. I found the same kind of error we fixed with AutoroutePart and Tags shows up when creating a content that has  TaxonomyField.

[code]

I have yet to investigate the details of it, but I expect we can use the same solutions we already merged in dev. I'll get to it when I have the time. A first look to the error makes me think th

[2018-06-18 11:27] Piedone commented on #8072
I'm not sure I understand, where exactly do you want those modules to get hidden? Their permissions under a role screen? Under Features? Else?

[2018-06-18 12:22] rezarouf commented on #8072
@Piedone thank you for replying , by hiding i meant hiding from the dashboard (that is the admin panel )
![image](https://user-images.githubusercontent.com/39696836/41535482-1c5d6116-7320-11e8-9a9a-16426d53a447.png)
like you see here in the image , my custom modules are FileManager , Useful links,News etc i want to restrict certain admins from using them,so i want to hide them..its easily possible

[2018-06-18 12:26] Piedone commented on #8072
For this you need define your custom permissions and use them in your navigation providers. For an example see https://github.com/Lombiq/Orchard-Training-Demo-Module.

[2018-06-18 12:26] #8072 closed, assigned to nobody

[2018-06-18 12:28] rezarouf commented on #8072
Thankyou for your help ,ill look at it right away!

[2018-06-20 17:44] MoBattah commented on #7031
Why was this closed?

[2018-06-21 11:00] rezarouf commented on #8072
Thanks The logic was to add the permission to access or not in Admin Menu Page,

[2018-06-21 19:05] sebastienros commented on #6747
Can anyone repro it?

[2018-06-22 02:56] #8070 closed, assigned to nobody

[2018-06-22 09:11] Piedone commented on #8072
Great then!

[2018-06-22 22:48] ghost opened #8074 "Background task fired only once"
the background task is supposed to run every minute . but if a task did not complete yet the background task is never hit again .

example:

[code]

each call of the sweep() Method should be in a separate thread unrelated to the previous execution .
but instead orchard always waits for the previous Sweep() to end .

[2018-06-23 13:52] ghost commented on #8074
does this have anything to do with the dependency injection scope ?

[2018-06-26 12:55] a1Sandor opened #8075 "Can't download from Gallery"
Hi,
I have this feed URL: "https://gallery.orchardproject.net/api/FeedService"

As far as Im concerned, this is the latest URL?
However I am still getting an error when trying to install modules. I have given access to all of the folders required.

[2018-06-26 12:58] a1Sandor opened #8076 "Designer Tools Won't Work"
I have downloaded the designer tools from the external orchard gallery website. I installed it.
I am getting this error

There are generally a few ways to solve this issue:
1. Install any dependent module.
2. Remove the assembly reference from the project file if it's not needed.
3. Ensure the assembly reference is present in the 'bin' directory of the module.
4. Ensure the assembly reference is p

[2018-06-26 15:27] sfmskywalker commented on #8075
It's the correct URL. The problem appears to be within Orchard itself somewhere when reading the actual NuGet package. You can try it for yourself by downloading the package to your computer and then try and install it (using the Browse button somewhere in the Modules view on one of the tabs). For me, it always fails, no matter which module I try (even the ones that I know worked before).

[2018-06-26 15:30] a1Sandor commented on #8075
Thanks for the reply.
Thats how I've been installing the modules. The only reason I want to get this to work is because of the "Designer tools" module. I really need to get URL alternates. When I install it from my computer, it gives me an error about "claySharp" and it wont work.

[2018-06-26 15:33] sfmskywalker commented on #8075
Interesting, so you are actually able to install NuGet packages 🤔
So it sound like your issue is not installing modules, but that you're getting a compilation error. Are you working with the full source solution, or the web package (precompiled) one?

[2018-06-26 15:36] a1Sandor commented on #8075
I'm not sure. I don't usually work with asp.net and c#. I downloaded from this link http://docs.orchardproject.net/en/latest/Documentation/Installing-Orchard/ on the third bullet point as the zip file. and I am using IIS as the server. Im guessing its the precompiled one.

[2018-06-26 15:42] sfmskywalker commented on #8075
So you downloaded Orchard.Web.1.10.2.zip?

[2018-06-26 15:42] sfmskywalker commented on #8075
If so, that's a precompiled one.

[2018-06-26 15:43] a1Sandor commented on #8075
So could that be the problem?

[2018-06-26 15:49] sfmskywalker commented on #8075
The problem seems to be the module you installed can't be compiled for some reason. Come to think of it, you should not have to install the Designer Tools module yourself, since it's already included as part of the core distribution. My guess is that the module you installed is vastly outdated (Claysharp was removed a long time ago).

Try deleting the module from your Modules folder. If it overwro

[2018-06-26 15:53] a1Sandor commented on #8075
And... You fixed it for me.

It has overwritten the pre installed designer tools when I tried to install them so i just copied it back from the Orchard.web.zip and enabled it.

Thank you so much.

[2018-06-26 15:53] sfmskywalker commented on #8075
Good!

[2018-06-26 15:53] #8075 closed, assigned to nobody

[2018-06-28 19:00] sebastienros commented on #8076
This module is deprecated, the designer tools are already shipped with Orchard.

[2018-06-28 19:00] #8076 closed, assigned to nobody

[2018-06-28 19:02] sebastienros commented on #8074
By design, we don't re-enter a background task that is already running, or this could cause issues if there is a bug in the modules, with an unlimited number of threads created and eventually put the site down.

[2018-06-28 19:02] #8074 closed, assigned to nobody

[2018-06-29 05:10] BootprojectStore commented on #8062
I did a clean new fresh installation, still the same problem. Also the thumbs only on Orchard Cms modules is shown.

[2018-07-04 15:32] ghost commented on #8074
@sebastienros  this indeed is a good design to go with, orchard will not re-enter the background task that's already running but will eventually wait for the thread to be available again? if so does orchard waits another minute or re-enter it immediately ?

[2018-07-05 22:00] ghost opened #8078 "Instances cannot be resolved and nested lifetimes cannot be created from this LifetimeScope as it has already been disposed"
I'm getting this exception on IRepository Orchard interface (1.1x)

On my `backgroundTask `I'm initializing a couple of Instances of IWork which is my interface Injected manually :
[code]
[code]

 Currently i'm creating only one Task which is added to SearchWorkPool

 I'm resolving `IresultManager `which use `IRepository `of Tasks Again

**NOTE:** I v already resolved `IresultManager` to get the `

[2018-07-06 15:04] ghost commented on #8078
it seems after creating a thread pool and start it the `BackgroundTask Object is disposed` since the `Sweep() `Method is completed  .

Solve it by creating a Boolean
`private bool IsCompleted { get; set; }`
` while(IsCompleted) { }`

after getting notified that all tasks is finished (Already handled) I'm setting the `IsCompleted `to `false `.
is it fine to go with this approach ?

[2018-07-06 17:53] visualinterface commented on #7367
Hey guys,
I literally just downloaded and installed the latest version of Orchard.  I configured multi tenancy, and setup a blog tenant.  I went in to the admin of the main tenant, deleted the existing gallery, and added the new one as specified in this thread: https://gallery.orchardproject.net/api/FeedService

However, I still see the images are missing when I hit the themes gallery, and they ar

[2018-07-12 13:28] andrei-galkin commented on #7650
Solution has been found

[2018-07-13 22:26] #8078 closed, assigned to nobody

[2018-07-13 22:30] ghost opened #8081 "Orchard Repository reading Locking the table"
I can see why locking is necessary in some cases , specially in Cms frameworks .
while reading `Repository.Table` the **Table** is locked. since the Isolation level is `ReadCommitted` .
but what I didn't quiet understand is why the table is still locked even after the reading is completed .
Converting to a `List` should be enough to release the table ?
if not what's the proper way to read using Or

[2018-07-13 23:02] Calvijn commented on #6747
Same problem here.
Error is right during the Setup.

`Orchard.Exceptions.DefaultExceptionPolicy - Default - ERROR An unexpected exception was caught
System.TypeLoadException: Method 'get_IsReadOnlyInitialized' in type 'NHibernate.Linq.Util.DetachedCriteriaAdapter' from assembly 'NHibernate.Linq, Version=1.1.0.1001, Culture=neutral, PublicKeyToken=null' does not have an implementation.
   at NHiber

[2018-07-16 08:42] MatteoPiovanelli commented on #8081
What version/branch are you working with? We did a bit on locking in dev

[2018-07-16 08:43] MatteoPiovanelli opened #8082 "Concurrency on indexing"
This error looks similar to what we worked on for  concurrency:

[code]

[2018-07-16 10:05] MatteoPiovanelli commented on #8082
Note that this often happens when indexing is enabled on a tenant, and we try to upload several images at the same time from the MediaLibrary UI

[2018-07-16 10:10] MatteoPiovanelli commented on #8082
This created a funny situation, being that there was an indexing task for a ContentItemRecord that did not exist, and that caused every BatchIndex execution to fail and log the same error over and over.

[2018-07-16 15:49] ghost commented on #8081
@MatteoPiovanelli-Laser  release 1.10x

[2018-07-17 14:45] MatteoPiovanelli commented on #8081
If you are using MSSql, be aware that their implementation of ReadCommitted is slightly different by what has been implemented by every one else I am aware of. That is why we had to do a bunch of stuff to handle concurrency and locking. It's in dev now.
It may be worth to try whatever you are doing with the dev branch, and see whether that fixes the issue you are seeing. If it does not, I think I

[2018-07-18 13:53] MatteoPiovanelli commented on #8082
I gave quick look at how the `IndexingTaskRecord` is used. It's always through an `IRepository`, and we never call an `Update`. This is most likely one of those cases we can fix easily with the `NOLOCK` stuff we did in dev. I'll figure out a way to reliably cause this issue and get back.

[2018-07-18 15:53] ghost commented on #8055
@sfmskywalker its a hack but its not really bad since it won't affect the workflow system so its doing fine at the moment , but i managed to get it done by editing the view instead of the Activity class :
I created an overrided view `Activity-stepSubmission.cshtml `in my module

[code]

[2018-07-24 10:40] elkhawajah opened #8083 "Moving ASP.NET MVC App to Orchard"
Hello guys,

I have asp.net mvc application, and I want to update it to use Orchard, we want to add CMS capability to the app.

Is that doable ? or we need to rewrite the app from scratch ?

If possible, is there any documentation/tutorial for how to do that ?

Thanks in advance!

[2018-07-24 10:46] elkhawajah commented on #8083
I found the answer here https://stackoverflow.com/a/5270458/753669

[2018-07-24 10:46] #8083 closed, assigned to nobody

[2018-07-25 14:05] GehadSb opened #8084 "deploy visual studio orchard cms"
I am trying to deploy visual studio orchard cms  on my own server ...any body can help me and tell me the steps that can follow to deploy it  ?

[2018-07-25 18:05] Skrypt commented on #8084
http://docs.orchardproject.net/en/latest/Documentation/Building-and-deploying-Orchard-from-a-source-code-drop/

[2018-07-26 19:02] #8084 closed, assigned to nobody

[2018-07-27 07:27] xnodeoncode commented on #7831
Why not allow user defined date on the UI, and if undefined, continue with the default behavior. This was useful once when migrating to a new platform and wanting to maintain the integrity of the earlier posts.

[2018-07-28 18:07] jayharris commented on #7982
Should this be closed, since the PR has been merged?

[2018-07-28 18:29] jayharris commented on #7664
I also think this has been fixed. The tests appear in VS2017 (15.7.4) as well.

![screen shot 2018-07-28 at 11 28 06 am](https://user-images.githubusercontent.com/220808/43359594-702790de-9259-11e8-95f9-dbefafae4f72.png)

[2018-07-28 19:21] jayharris commented on #8062
This appears to be an issue with the feed, not with the Orchard installation. Though the feed is at `gallery.orchardproject.com`, the Gallery's feed service is reporting the download link for each package as `orchardgallery.azurewebsites.net`. Anything request to `orchardgallery.azurewebsites.net` is returning an HTTP403.

The package won't download because of the 403, causing the installation fai

[2018-07-28 19:38] jayharris commented on #8062
The Base URL within the Gallery Settings might be set to `orchardgallery.azurewebsites.net` instead of `gallery.orchardproject.com`.

[2018-07-30 13:48] #6632 closed

[2018-07-30 13:49] KANekT commented on #6632
It does not interest me any more.

[2018-08-02 18:13] neaplus commented on #7367
same here, changing gallery url not fixes download and install gallery items. still missing images

[2018-08-02 19:06] sebastienros commented on #8062
Thanks @jayharris that fixed it

[2018-08-02 19:06] #8062 closed, assigned to nobody

[2018-08-02 19:07] sebastienros commented on #7664
Please reopen if you can still repro

[2018-08-02 19:07] #7664 closed

[2018-08-02 19:07] #7982 closed, assigned to nobody

[2018-08-02 19:08] sebastienros commented on #7831
You can define the date if you enable it in the CommonPart settings

[2018-08-02 19:15] sebastienros commented on #6747
I just updated to the dev branch, opened it on VS 2017 and the reference was correct. Also could go through Setup.

[2018-08-02 19:15] #6747 closed

[2018-08-02 19:17] #7931 closed, assigned to nobody

[2018-08-02 19:18] sebastienros commented on #7931
The fix can be copied to 1.10.x

[2018-08-02 19:26] #8066 closed, assigned to nobody

[2018-08-02 20:55] edwardm commented on #8062
Works now, thanks guys!

[2018-08-02 23:58] jayharris commented on #6115
Because #7913 has been merged into 1.10.x, should this be closed?

[2018-08-03 00:54] #6115 closed

[2018-08-03 15:16] MatteoPiovanelli opened #8090 "weird ManageMenus Permissions"
I just tried to give a user of one of our tenants permissions to manage only a specific menu. However, that prevented them to properly create menu items in that menu: The item would be created, but without a "title", and it would then be impossible for them to delete it or edit it.
I tried to give them all permissions for each type of MenuItem, but the result looked the same.
In the end, I had to

[2018-08-03 19:09] jayharris opened #8091 "Update Microsoft.Owin.* to v4.0"
The Orchard platform is using Microsoft.Owin.* v3.0 (Released 2014). Upgrading to v4.0 (Released 2018) would help on enhancements within the new Orchard.OpenId module, as v4.0 is a dependency for many of the updated Security and Identity modules.

[2018-08-08 07:22] MatteoPiovanelli commented on #8073
It looks like fixing #8082 also fixed this. That would mean that the errors we saw for the TaxonomyField were caused by failures of the indexing thing, that would mess things up somehow.

[2018-08-08 13:27] HermesSbicego-Laser opened #8095 "ContentTypePlacementStrategy applies to front-end even if it is designed for back-end"
Editing the Placement via UI (using "Edit Placement" button in "/Admin/ContentTypes/Edit/User" resulting in "/Admin/ContentTypes/EditPlacement/User" for example) influences the back-end **but also the front-end position of parts/fields editors.**
Because the feature is desgined to manually positioning the **back-end** editors of parts/fields we should prevent to override the front-end placement.

[2018-08-08 20:30] jonbarthol opened #8097 "FileNotFoundException occurs when viewing error log"
If an orchard-error log file does not yet exist and I switch the type from "Debug" to "Error" a System.IO.FileNotFoundException occurs:

![debug_log](https://user-images.githubusercontent.com/18033870/43862361-7542a6fe-9b27-11e8-87ba-0275ff89bef9.png)

Change "Type" to error:
![change_to_error](https://user-images.githubusercontent.com/18033870/43862664-497af66a-9b28-11e8-95ee-5b4267ca6a77.png)

E

[2018-08-09 10:31] HermesSbicego-Laser opened #8098 "Making the Contents Controller more general extending it with Some Contente Metadata permissions"
Working on that fix #8092  I realize that we could abstract a bit more the logic for permissions in order to consent developers to use the same Contents/Edit controller/view instead of cloining it. As per Metadata.EditorRouteValues we could add to new propoerties to metadata with the permissions to check over Display/Edit/Delete/Publish actions and so on. So we could use the Contents Controller wi

[2018-08-09 19:10] sebastienros commented on #8098
I don't think that is necessary. Usually you will need to adapt the actions specifically to your items, and this is why you wan't to create custom ones, or you would just use the default ContentItem ones.

[2018-08-09 19:10] #8098 closed, assigned to nobody

[2018-08-09 19:12] sebastienros commented on #8097
Is that coming from an external module of something in this repos?

[2018-08-09 19:15] #8095 closed, assigned to nobody

[2018-08-09 19:15] #8090 closed, assigned to nobody

[2018-08-09 19:16] #8073 closed, assigned to nobody

[2018-08-09 19:16] #8082 closed, assigned to nobody

[2018-08-09 19:22] #7814 closed, assigned to nobody

[2018-08-09 19:23] #8091 closed, assigned to nobody

[2018-08-09 19:25] #7699 closed, assigned to nobody

[2018-08-09 20:10] jonbarthol commented on #8097
Ah yes. My apologies. This is from the external Devq.ErrorLog module. Closing this issue.

[2018-08-09 20:10] #8097 closed, assigned to nobody

[2018-08-21 00:23] dougauerbach commented on #7082
Oddly enough, I'm seeing this behavior too, although the URLs are different.
It seems that certain plugins are being requested from the CDN, but the files do not exist, resulting in a 404 error from the CDN.

This is reproducible when using the Orchard Admin's content editor on any content item with a Body part, which happens to utilize the tinyMCE control.  (v.1.10.2.0)

These are the failing URL

[2018-08-22 15:44] d-lan1 opened #8100 "Removing wrong aliases"
When content items are created and an autoroute part is present, it allows you to add an alias url.

When you publish the content item the autoroute part is created is saved in the table Orchard_Autoroute_AutoroutePartRecord with the alias url being saved in the  table Orchard_Alias_AliasRecord - this table only contains aliases of published content items. This is because when an item is unpublish

[2018-08-28 07:10] yaporyvaev opened #8102 "Upgrade from 1.7.1 to the latest"
Hello !

We have an orchard 1.7.1 version. It's neccessary to upgrade to the latest version. The instruction says that first of all we should upgrade to 1.7.2 then 1.8.2 then 1.9.0 then to the latest, is it right ? Or it would be better for us to create new project with latest version of Orchard CMS and migrate our modules manually ?

If it is neccessary to upgrade gradually, where can we find 1.7

[2018-08-30 19:05] sebastienros commented on #8102
You need to do major version migrations one by one, using the latest of each major version.
So latest for 1.8, then 1.9 and finally 1.10.

It "might" work by trying only the latest major, but there are many reasons it can fail too.

[2018-09-04 18:16] BenedekFarkas commented on #7713
[New PR, wall of text, but it's all working with C# 7.3!](https://github.com/OrchardCMS/Orchard/pull/8103#issue-213059094)

[2018-09-06 09:21] csutorasr commented on #4236
Any update on this? This is happening also to me.

[2018-09-06 16:00] Skrypt commented on #4236
Have you guys upgraded up to latest? These issues might be fixed now. Else you could try to cherry pick the fix if it's the case. Did someone remember fixing this issue?

[2018-09-06 19:07] sebastienros commented on #4236
This has been fixed a long time ago. I think you should update to 1.10.x or the dev branch to get these

[2018-09-06 19:07] #4236 closed

[2018-09-06 19:07] #8102 closed, assigned to nobody

[2018-09-08 17:11] cklopfstein commented on #7355
Assume there is no work around to this?

[2018-09-10 11:49] jimasp opened #8108 "ProjectionManager can return duplicate results when using multiple filter groups"
There is a bug in ProjectionManager relating to filter groups.
This applies to filter groups which produce duplicate results and you are using paging.

To further explain, with easy steps to reproduce:

Imagine a scenario where you have say 20 blog posts.
You want to create a projection with a pager that shows _6 blog posts per page_.

When setting up your Query, you want to have 2 filter groups f

[2018-09-10 13:45] abhishekluv opened #8109 "StartsWith is culture-aware and missing a stringcomparison argument in Navigation Module(AdminController)"
` var menuItems = _menuService.GetMenuParts(menuPart.Menu.Id)
                    .Where(x => x.MenuPosition.StartsWith(menuPart.MenuPosition + "."))
                    .Select(x => x.As<MenuPart>())
                    .ToList();`

StartsWith is culture-aware and missing a stringcomparison argument. Is it necessary to pass the StringComparison argument?

[2018-09-11 16:08] BenedekFarkas opened #8110 "Orchard.Layouts: ContentPartDisplay can't handle IContentPartDriver implementations other than those deriving from ContentPartDriver<ContentPart>"
This is a pretty rare edge-case, but an `IContentPartDriver` implementation that doesn't derive from `ContentPartDriver<ContentPart>` can be used to extend/override the behavior of the explicitly implemented methods of `ContentPartDriver`. As soon as you create such an implementation, Layouts mostly stops working.

The fix is just adding Elvis-operators:

Before:
[code]

After:
[code]

[2018-09-11 17:05] BenedekFarkas opened #8111 "Orchard.Projections: Adding the ability for Queries to filter on Draft content item version"
The idea here is that you can build more complex user-interactions, e.g. a content approval process without giving users Dashboard access.

This actually requires a relatively simple set of changes:

- Add the `VersionFilter` (`IFilterProvider` implementation), which uses a simple form that allows you to select the content version used for the current filter group (Published, Draft, Latest, All) f

[2018-09-11 17:27] BenedekFarkas commented on #8111
Dayum, I just found #7921 that almost does exactly that, but a bit differently (the version is selected for the Query and applied to each filter group, but I can live with that).

I just need have Draft-only as an option for my happiness. :)

[2018-09-11 19:12] BenedekFarkas commented on #8111
PR: https://github.com/OrchardCMS/Orchard/pull/8112

[2018-09-12 20:40] csutorasr commented on #4236
If anyone still has the problem the solution is in [this PR](https://github.com/OrchardCMS/Orchard/pull/8054). Cherrypick it, then try to build, search for missing components, look at the PR where it was added and cherrypick it. It has to be repeated for 3 times on the 1.10.x and the issue is fixed.

[2018-09-13 19:34] sebastienros commented on #8109
Can you provide a repro of the issue? I'd like to understand what the problem is, even though adding a String comparison should be fine.

[2018-09-13 19:37] sebastienros commented on #8108
This is by design, as soon as you use groups you can't page without having duplicate items issues.
Your changes would load everything in memory, and then page which would have a huge impact on perf.

[2018-09-13 20:00] ryanwawr opened #8113 "Null reference error when calling GetBits on SearchBuilder constructed with generic query"
Construct a SearchBuilder, then call Parse with a query that contains only terms generic enough to be stripped out by some of the low-level logic in Lucene (e.g. search for just "the", "a", or "is"), you get a null reference error when calling GetBits() on that SearchBuilder.

[2018-09-13 20:41] #8111 closed, assigned to BenedekFarkas

[2018-09-14 09:59] jimasp commented on #8108
i don't get it.
how would my changes load everything into memory?
to be clear my code changes are as follows:

1. change this line:
`return groupQuery.Slice(skip, count);`  (returns 0 records in scenario)
to this:
`return groupQuery.Slice(0, count);`  (returns 6 records)
2. ideally, change this line:
`var contentItemsCount = _projectionManager.GetCount(query.Id, part) - part.Record.Skip;` (slow)
t

[2018-09-14 14:57] jimasp commented on #8108
I didn't get what you meant at first, but pretty sure you mean this change:

`return GetContentQueries(queryRecord, Enumerable.Empty<SortCriterionRecord>(), tokens)
    .SelectMany(contentQuery => contentQuery.List().Select(x => x.Id)).Distinct().Count();`

That's really why i stated

i.e. because i was hinting that i wasn't sure what the best solution was without delving further into the query fu

[2018-09-14 15:07] BenedekFarkas commented on #8108
This looks promising, but making sure that it's not a performance compromise is very important. As a workaround, have you tried setting up the filter groups to be mutually exclusive? It might not always be possible, though.

Even if it's a performance hit (which might be acceptable to an extent), we can try to set it up in a way that the distinct check only happens if there are multiple groups. Pr

[2018-09-14 16:05] jimasp commented on #8108
thanks, i actually tried that first, but it didn't pass all our test scenarios.

good idea, i've quickly stuck that in (untested), see the latest commit to the PR.

[2018-09-19 17:28] #8110 closed, assigned to BenedekFarkas

[2018-09-19 17:50] BenedekFarkas commented on #7638
Orchard 1.11 will ship with C# 7.3 compatibility.

[2018-09-19 17:50] #7638 closed

[2018-09-19 19:07] BenedekFarkas commented on #7713
Merged into 1.10.x - dev will follow soon.

[2018-09-19 19:16] BenedekFarkas commented on #7991
I've seen those tests failing locally when I run them outside VS (in VS, everything's fine almost all the time, except for the flaky tests).
My Windows language is en-US, but the culture is hu-HU.

They are fine in the public CI btw: https://teamcity.jetbrains.com/viewLog.html?buildId=1626849&buildTypeId=Orchard_MinorVersion_BuildAndUnitTests&tab=testsInfo

[2018-09-20 16:39] BenedekFarkas commented on #7710
I can repro this, but the error comes up when I click on an image that is already inserted into the HTML editor. In this case the image is still selected, so if I hit Delete, it is removed from the editor.
The included version is 4 years old, so an upgrade would be definitely useful.

[2018-09-20 19:09] sebastienros commented on #7991
https://teamcity.jetbrains.com/project.html?projectId=Orchard_MinorVersion&branch_Orchard_MinorVersion=__all_branches__

[2018-09-20 19:11] sebastienros commented on #8108
Sorry, I missed this code `contentQuery.List()`

[2018-09-20 19:12] sebastienros commented on #8113
Can you provide a PR to fix it?

[2018-09-20 19:29] sebastienros commented on #7738
The split is done on `", "` which is fucking stupid (I have to replace Linus here) from moronic devs!!!
It should be on both `','` and `' '` with a RemoveEmptyEntries. Or maybe split by comma then trim the result in case a month has a space in it.
Do not change the string itself or it would break the existing translations.

[2018-09-20 19:31] sebastienros commented on #7738
c.f. https://www.newyorker.com/science/elements/after-years-of-abusive-e-mails-the-creator-of-linux-steps-aside

[2018-09-20 19:33] sebastienros commented on #7726
@omidnasri do you agree with the issue or do you think it's fixed in 1.10.x ?

[2018-09-20 19:33] #7713 closed, assigned to BenedekFarkas

[2018-09-20 19:36] sebastienros commented on #7660
fixed by https://github.com/OrchardCMS/Orchard/pull/7913

[2018-09-20 19:36] #7660 closed

[2018-09-20 19:37] sebastienros commented on #7597
@MatteoPiovanelli-Laser still hapenning ?

[2018-09-20 19:47] MatteoPiovanelli commented on #7597
I have not checked this in forever. I think #8025 fixed this but I don't remember testing it

[2018-09-20 20:38] BenedekFarkas commented on #7710
@roballred can you please check the `issue/7710` branch? It should be fixed now (to be included in the upcoming release).

[2018-09-21 06:16] manishkumar1689 opened #8116 "ERROR WHILE CHOOSING BOOTSTRAP AS A THEME"
When I install bootstrap theme and then try to set current , error is generating

[2018-09-21 15:18] fbardet opened #8117 "v1.10.2 - Release pipeline in VSTS (now Azure DevOps) not deploy new modules bin folder"
Hello,

My solution contains a custom module called MyModule (created by the command codegen module MyModule).
In VSTS, my release pipeline uses the IIS Deployment group job with the IIS Web App Deploy task.
The target package to deploy is $(System.DefaultWorkingDirectory)/_master/drop/Orchard.Web.zip.
On my server agent, the file C:\vstsagent\A4\_work\r2\a\_master\drop\MyModule.zip contains a bin

[2018-09-25 17:00] #8064 closed, assigned to nobody

[2018-09-25 17:01] BenedekFarkas commented on #7683
Fixed in 55485cb465203c7d440ac600169ede918efc8ad1, verified with TheBootstrapMachine.

[2018-09-25 17:01] #7683 closed, assigned to nobody

[2018-09-25 17:51] Ifetayo opened #8119 "Orchard WebAPI crashes intermittently with errors before hitting endpoints"
Hi,
I am having a few issues using Orchard WebAPI. I have an Orchard 1.10.2 module that serves both MVC request and webAPI request. Intermittently the APIs start to crash, sometimes it takes an IIS reset before things get back to normal. With these APIs I have a message handler attached to the webAPI pipeline. Based on some conditions which I can not ascertain what they are I get varying error mes

[2018-09-26 05:56] rezarouf opened #8120 "how to set the workflow to remove the notification if content item is removed."
Hi i use workflow to trigger notification , for example in my website if i publish a news, the workflow broadcast across all the users through notification.

![image](https://user-images.githubusercontent.com/39696836/46059860-a5699400-c17e-11e8-82bd-a34242ff0892.png)

Now if i delete the news , the notification still stays .. how do i set the workflow such that the notification disappears once th

[2018-09-26 13:19] Piedone commented on #8120
The Broadcast activity is something you've written, right? Because then you can check there is the item still exists. Otherwise I'm afraid there is no feature in Workflows for this directly, but depending on how the Broadcast activity works you may be able to utilize the Decision activity to write some C# for your decision logic.

[2018-09-27 19:05] sebastienros commented on #8116
Probably the version of the module you are using is not compatible with the Orchard one. Try this one http://gallery.orchardproject.net/Packages/Orchard.Theme.PJS.Bootstrap

[2018-09-27 19:05] #8116 closed, assigned to nobody

[2018-09-28 09:09] BenedekFarkas commented on #7710
Fixed in c3b11fca44ddcbef5b94e513e221b09e5c671cbf

[2018-09-28 09:09] #7710 closed, assigned to BenedekFarkas

[2018-09-28 14:27] BenedekFarkas commented on #7950
FieldIndexing has gone through some changes recently, so that might be the cause that I can't repro this problem (tested with a custom type and also the User type, just to be sure - Field Indexing and Projection Queries working as expected).

But I've found an other issue: `EditorShapes` in `Orchard.Forms.Shapes` doesn't define a shape for an input field that has `type="number"` and the one for Te

[2018-09-28 15:19] BenedekFarkas commented on #7822
I couldn't repro this with 1.10.1 (a629ce0f4b02179399249c44915e0f6317d748b1), neither with the latest 1.10.x commit. @GioviQ can you please check again on the latest 1.10.x commit?

@HermesSbicego-Laser have you or the other Laser guys seen this kind of error recently?

[2018-09-28 15:43] dukeofdarkness23 opened #8121 "ElementWrapperPart in Orchard.Layouts does not export data correctly."
**Overview:**
The ElementWrapperPart in Orchard.Layouts is used to create Widgets that are based on Elements. It can be used to wrap around any element and turn it into a widget.

The Driver for this part implements the Exporting method and Exported method.

Both methods contain identical code, and both methods (indirectly) call the corresponding Export(ed/ing) method in the driver for the element

[2018-09-28 16:04] BenedekFarkas commented on #7738
Fixed in 3644d868ec72643030ea16cc99c2ddb89c0b3bdf according to ~~Linus~~Sébastien's suggestion. ;)

[2018-09-28 16:04] #7738 closed, assigned to nobody

[2018-09-28 16:54] BenedekFarkas commented on #7726
Is this the expected result?

![image](https://user-images.githubusercontent.com/2797449/46221837-d4366480-c34e-11e8-86f6-dfd91584f93f.png)

This is on 1.10.x, with the latest commit.

This includes the fix for #7738 (3644d868ec72643030ea16cc99c2ddb89c0b3bdf), but the current fa-IR translation throws the same error, if we don't split the translated day/month names by the space character as well.

[2018-09-29 06:28] HermesSbicego-Laser commented on #7822
No, as far as I know never seen before but I will check deeper on monday.

[2018-10-02 12:44] dukeofdarkness23 commented on #8121
After further analysis, the 3 Import methods are also bugged. Each of these 3 methods (Importing, Imported and ImportCompleted) in the ElementWrapperPartDriver also just simply process the original Xml element and call the corresponding method in the relevant element driver.
Each time simply overwriting the part.ElementData field each time.

Therefore, if the element only implements the Importing

[2018-10-02 21:47] OrchardWeb opened #8122 "how we can get media files from remote server to Orchard media module"
I'm new to Orchard CMS. I was trying to figured out the way to get the Media files from my remote drive into Orchard Media module(On Orchard Dashboard).

[2018-10-03 17:14] OrchardWeb opened #8123 "Content data and themes data is not migrating from one Database to another database?"
Hi All,

I'm new to Orchard CMS. My question is I changed my database of Orchard project and I copied whole data from Old one to New database.But,I figured out that I didn't get the content data and Themes data from old Database to new Database.Is it possible to happens like that.

Thanks in Advance

[2018-10-04 19:20] sebastienros commented on #8123
You mean the templates?

[2018-10-04 19:21] sebastienros commented on #8122
If you put the files in the same folder on the server, there is a custom "Upgrade" module that can be used to import all the local files as Media items.

[2018-10-04 19:22] sebastienros commented on #8121
Please create a PR with these changes.

[2018-10-04 19:23] sebastienros commented on #7822
Almost sure it works, and that we have a specflow test for it.

[2018-10-04 19:25] #7822 closed, assigned to nobody

[2018-10-04 19:25] #7726 closed, assigned to nobody

[2018-10-04 19:25] #7950 closed, assigned to BenedekFarkas

[2018-10-04 19:27] OrchardWeb commented on #8123
Yeah,I created one theme in my localhost with one database.I tried to hosted into my IIS server with new database,(I migrated data all data from old DB to new DB).The Template I got,I was trying to login with my credentials,It shows PAGE NOT FOUND.

[2018-10-04 19:27] sebastienros commented on #7704
Could someone create simple repro steps?

[2018-10-04 19:29] OrchardWeb commented on #8122
That means I have to download the Upgrade module,Is it correct?

[2018-10-04 19:30] sebastienros opened #8124 "Fix default value of NumericField"
@apiradeemaii 14 days ago  •
This comment is test about Default value should be proposed on creation.
But when I go to "Admin/ContentTypes/Edit/Event" and look at Numeric Field. It has no text box of Default value for input data.

  @protoncm
protoncm 13 days ago  •
 Contributor
@sebastienros I think Default value was removed by accident after you merged 1.10.x branch to dev ? see commit line: c8a

[2018-10-04 19:47] OrchardWeb commented on #8122
If suppose I have a bunch of Media file in my server,I want those files available on my Orchard UI(In Media Module)then only my development team will be able to use,I don't want to upload one by one.For that i created one button in media module beside the create folder button.I wrote one method in foldercontroller.cs,and I created one view also to display on in Media module.Some how I got the imag

[2018-10-05 17:02] dukeofdarkness23 commented on #8121
#8125 PR Created

[2018-10-07 16:52] jimasp commented on #8108
I ran a very quick + basic test.

I created a query based with Content Type "Any" as a filter.
I also created a Group query with Content Type "Any" OR Content Type "Any".

I then put a StopWatch start in ProjectionPartDriver like so:
[code]

And added Logger code to output the Elapsed.TotalMilliSeconds:
[code]

Such that both _projectionManager.GetContentItems() and _projectionManager.GetCount(que

[2018-10-08 14:03] BenedekFarkas commented on #7726
@sebastienros so should we split by space characters as well, then? That will make this problem go away, but can break a lot of translations (mostly African and South American languages that we don't have translations for and I'd be surprised if someone would like to add those).

Edit: Done, see the commit below.

[2018-10-08 16:23] #8122 closed, assigned to nobody

[2018-10-08 16:24] #8123 closed, assigned to nobody

[2018-10-08 21:29] BenedekFarkas commented on #6260
No repro with Precompiled package built on 1.10.x.

[2018-10-08 22:07] #6260 closed

[2018-10-09 19:10] sebastienros commented on #7704
If we just need a null check, let's add it.

[2018-10-10 08:00] protoncm commented on #8119
I had the same issue before after i installed sites on multi-tenancy. but it working fine when they was moved to standalone website.

[2018-10-11 17:36] OrchardWeb opened #8129 "How we get the themes from Local Host to Server?"
I developed one theme in Local host and trying to put in server(Install from Computer option in Themes Module on Orchard UI).Somehow I'm getting error while I'm trying to put the new theme as set as current theme or Enable theme[Please check the below path for Reference].Can you please help me out what are the possibilities and where should I have to do the changes.
(https://user-images.githubuser

[2018-10-12 08:47] jerhhh opened #8130 "Blind SQL Injection"
Nexpose has detected Blind SQL Injection vulnerability.

Updated: Removing screenshot for security reasons

[2018-10-13 05:42] hyzx86 commented on #1569
I have a same problem, how to remove this notify?

[2018-10-13 15:14] hyzx86 commented on #1569
romove this folder

[2018-10-16 23:51] Piedone commented on #8130
What is the issue exactly, what is happening? Is there a YSOD or something worse?

[2018-10-17 17:31] sebastienros commented on #8130
Please send any security concern to me directly at sebastien.ros@microsoft.com

This message doesn't prove there is any issue but I prefer to confirm offline with you directly. Thanks.

[2018-10-17 17:31] #8130 closed, assigned to nobody

[2018-10-19 16:23] Skrypt commented on #5602
I'm closing since we all moved to Orchard Core dev.

[2018-10-19 16:28] #7282 closed

[2018-10-22 08:03] luciofassio opened #8131 "Taxonomy items rendered in alphabetical order regardless of hierarchy when autocomplete is selected"
I'm using Orchard/Laser/1.10.x.
Languages set in Orchard are italian and french, italian is the default one.
I created a hierarchical taxonomy with the import function (in both italian and french) and added a taxonomy field to Page content item.
When autocomplete is set in the taxonomy field the item list is ordered alphabetically regardless of the hierarchy; when autocomplete is off the item list

[2018-10-23 06:38] HermesSbicego-Laser commented on #8131
Hi @luciofassio, from what I see you're using a branch of our fork, I imagine because you need O1.10 working with a full integrated localization feature. Our branch is an Hybrid: it's 1.10.x + some feature of dev (cloning, concurrency, etc...).
By the way, from what I see the `dev `branch also is affected by this, see https://sourcegraph.com/github.com/OrchardCMS/Orchard@dev/-/blob/src/Orchard.Web

[2018-10-24 02:16] nutullah opened #8132 "Gallery, widget, and Lucene error (all one related issue?)"
I am running into three issues, that all may or may not be related.

First, the gallery page does not show any modules or themes. After reviewing other issues, I realized that my gallery feed link is empty. I tried to add the gallery link, but received the following error ("The url of the feed or its content is not valid."):
![image](https://user-images.githubusercontent.com/20462294/47401676-ec0f

[2018-10-25 17:30] OrchardWeb commented on #8129
Is there anyone to help me out from this issue?

[2018-10-25 19:07] sebastienros commented on #8129
You should look at the logs.

Also deploying Orchard is quite well documented, have you looked at it?

[2018-10-25 19:07] sebastienros commented on #8132
The https cert was out of date, can you try again?

[2018-10-25 19:09] sebastienros commented on #8131
Maybe an option in the field? Because I don't think there is a unique solution to this.

[2018-10-25 19:12] nutullah commented on #8132
It is working. Thank you so much for your help

[2018-10-25 19:12] #8132 closed, assigned to nobody

[2018-10-26 08:45] 0liver opened #8133 "In exception stacktraces, how to show line numbers for non-core modules?"
Orchard has always intrigued me with showing line numbers in exception stacktraces even for Release builds. As it turns out, [there is no magic behind this](https://stackoverflow.com/a/628590/177710).

Now, I would like to see line numbers for code from our own modules - but I can't get it to work. I've tried putting my modules .PDB files in a number of places, but they are not picked up/used when

[2018-10-26 13:25] Estar1 opened #8134 "The Custom Properties part not found in Content Parts list"
I created an Employee content type and added a containable part to it - but I can't find the 'Custom Properties' part to add to it. This is needed to automatically add the Custom 1, Custom 2 and Custom 3 fields that its required by the Widget container filter

Any ideas please?

[2018-10-26 15:15] BenedekFarkas commented on #7704
@I3undy's observation is that the internal dictionary is only conditionally initialized, so it's possible that when trying to access it later it's still null. My suggestion would be to add a method that can be called later to make sure that it's set up correctly (similar to the `EnsureInitialized` method in `Orchard.Azure.Services.FileSystems.AzureFileSystem`):

- Initializing the dictionary itsel

[2018-10-26 21:12] OrchardWeb commented on #8129
No I didn't see yet.Can you please share the document link,I will review it.

Thanks in Advance.

[2018-10-27 06:23] HermesSbicego-Laser commented on #8131
I agree that we need an option,here...More, the autocomplete acts as filter so we need something like https://stackoverflow.com/questions/11432024/jquery-text-input-autocompletion-for-a-tree-of-values
@luciofassio have you any jquery plugin in mind to do that?

[2018-10-30 21:23] luciofassio commented on #8131
jQueryUI Autocomplete would work well but also what is implemented now does, the issue i see is that when i start typing the item list which is rendered is not properly ordered, a sort option in the taxonomy field would work well i guess

[2018-11-01 19:04] sebastienros commented on #8129
http://docs.orchardproject.net/en/latest/search.html?q=deploy

[2018-11-01 19:04] #8129 closed, assigned to nobody

[2018-11-01 19:06] sebastienros commented on #7704
I agree, the initialization of the dictionary needs to be triggered outside of the ctor, using an `EnsureInitialized` method.

[2018-11-05 09:43] luciofassio opened #8136 "How to wait for recipe execution or execute it sinchronously"
In my migrations.cs I'm creating a few taxonomies with a recipe and creating a content type which refers to them via taxonomy fields.

Everything works except the fact that the recipe is executed asynchronously and so when i try taxonomyService.GetTaxonomyByName it fails because the recipe has not been executed yet.

Is there a way to wait execution until the recipe finishes, maybe using execution

[2018-11-06 17:18] #7704 closed, assigned to nobody

[2018-11-06 23:07] sebastienros commented on #7735
Done in Orchard Core

[2018-11-06 23:07] #7735 closed, assigned to nobody

[2018-11-08 20:05] sebastienros commented on #8136
I don't think the issue is that the recipe has not run yet, but that the database transaction hasn't been committed. Try to look for a sample that calls `session.Flush()` and do the same think after `Execute`.

[2018-11-09 13:46] luciofassio commented on #8136
I searched for session.Flush() and found (only in the unit test projects):

            _databaseFilePath = Path.GetTempFileName();
            _sessionFactory = DataUtility.CreateSessionFactory(_databaseFilePath, DatabaseTypes.ToArray());
            _session = _sessionFactory.OpenSession();
            _transaction = _session.BeginTransaction(IsolationLevel.ReadCommitted);
           ......

[2018-11-15 07:23] asteinhauser opened #8137 "Exploitable XSS vulnerabilities in OrchardCMS"
Please, see zipped videos with two different XSS exploitations:
(REMOVED)

[2018-11-15 16:30] sebastienros commented on #8137
Thank you, I am removing the attachment to prevent any more disclosure. I will treat these and come back to you when it's fixed. From what I see these are only exploitable by a user with dashboard with specific permissions, so this should limiting the scope.

[2018-11-15 20:06] sebastienros commented on #8136
Resolve `ITransactionManager`, from which you can get a session: `_transactionManager.GetSession()` then call `Flush()` on the session.

[2018-11-25 02:21] nutullahkisa opened #8138 "Loading existing data from database"
Please note: I need to find a solution for this issue by Monday so any feedback/advice that you may have is appreciated.

I have created a basic module to display the contact list for employees. When I add new employees through the module, they update on the database and display in the module correctly; however, the employees that already exist in the database (they existed in our old database and

[2018-11-25 03:25] sebastienros commented on #8138
Are these content items, as in you created a Part for them ? In this case you would also need to create a record in the ContentItemVersion and ContentItemRecord. Another solution is to create an import file in XML. There are several examplesnon how to do it.

[2018-11-25 04:04] nutullahkisa commented on #8138
Thanks for your response. They are content items - I created a record in the ContentItemVersion and ContentItemRecord for then.

Can you point me to where I can find the examples on this? Thanks again

[2018-11-25 07:02] ViRuSTriNiTy commented on #8138
You could also [enable logging](https://weblogs.asp.net/bleroy/logging-sql-queries-in-orchard) to determine where user queries go wrong by copy and pasting the user queries into a SQL debugger. For sure you missed something, a flag, a record, etc.

[2018-11-25 14:05] ghost opened #8139 "Web Api select area based on query string"

[2018-11-25 15:43] #8139 closed, assigned to nobody

[2018-11-25 16:01] ghost opened #8140 "How to access HttpConfiguration in Orchard?"

[2018-11-25 16:20] #8140 closed, assigned to nobody

[2018-12-01 21:03] donald-hanson commented on #7849
The TermPartDriver does not calculate the correct FullWeight when creating new terms.

`fullWeightBuilder.Append(termPart.Weight.ToString("D6") + "." + "/");`

This causes the new roots to have a FullWeight of something like "000000./" and an example child of "000000.5093/000000./".  When sorted you get something that looks like the original screenshot.

[2018-12-03 13:17] #8137 closed, assigned to sebastienros

[2018-12-03 13:20] BenedekFarkas commented on #8134
Is your custom content part attachable (it's a checkbox in the content part's settings)?

[2018-12-03 21:46] Skrypt commented on #7430
I'm closing as it is dated from 2016 and I think this is fixed.

[2018-12-03 21:46] #7430 closed

[2018-12-03 21:48] Skrypt commented on #5905
Won't fix. Too old. Should be moved to Orchard Core as some Url's are also not having the /admin in the admin.

[2018-12-03 21:48] #5905 closed

[2018-12-05 02:10] nutullahkisa commented on #8138
Thank you for your responses.

When I checked the log file it was empty.

I was able to do this by creating the import file and implementing the importing and exporting methods. I used the User module as a model.
I created one dummy object and then exported it to XML and then modeled my data off of that for the import file. I had to add handling for null values because if I imported a field as nul

[2018-12-05 02:10] #8138 closed, assigned to nobody

[2018-12-05 02:37] nutullahkisa opened #8142 "RuntimeBinderException: Cannot perform runtime binding on a null reference"
Hello,

I have started to hit this runtime error (included below) on the server side on my published website. I do not get this error on my local copy and I have tried copying everything from my local copy to the published website in case a difference got in, but that did not fix it.

I have a custom module that presents a employee contact list and admins are able to add/edit the employee informat

[2018-12-05 14:51] HermesSbicego-Laser opened #8143 "Cannot save CultureNeutral Setting in a field within a part"
When you create a part and you define a field within it the CultureNeutral Settings is not correctly set
(dev)

[2018-12-05 19:43] Skrypt commented on #8142
Have you looked in the production website database that these fields are not already there with allowing a NULL value on them?

[2018-12-06 02:08] nutullahkisa commented on #8142
Thank you so much for replying. I updated the database to not allow null values (to match the fields) and that fixed the problem!

[2018-12-06 02:08] #8142 closed, assigned to nobody

[2018-12-06 19:38] d-lan1 opened #8145 "Custom NHibernate mappings help"
Firstly sorry if this is the wrong place to raise the question.
Im trying to define a custom nhibernate mapping. It states in the orchard docs (http://docs.orchardproject.net/en/latest/Documentation/Creating-1-n-and-n-n-relations/#accessing-nhibernate-configuration-directly) that this can be done by overriding default mappings using  ISessionConfigurationEvents. However after defining my class tha

[2018-12-06 20:05] #8143 closed, assigned to nobody

[2018-12-10 06:24] danmincu opened #8146 "Form widget is missing"
Using the latest 1.10.2.0 Orchard version despite enabling the `Dynamic forms` module I cannot seem to be able to get the `Form widget` in the list.
Following the documentation from here http://docs.orchardproject.net/en/latest/Documentation/Creating-Dynamic-Forms/#create-a-form-widget
![image](https://user-images.githubusercontent.com/21205717/49714270-4a422c00-fc1a-11e8-9a01-43f1301fc1a1.png)

[2018-12-10 18:21] danmincu commented on #8146
duplicate of https://github.com/OrchardCMS/Orchard/issues/6260#issuecomment-319523301

[2018-12-10 18:21] #8146 closed, assigned to nobody

[2018-12-10 20:04] danmincu commented on #6260
Confirming this ^^ fixed the issue however I had to manually add `Orchard.Roles` and `Orchard.Layout` projects to Orchard.Web otherwise I wasn't able to publish with the `build precompiled` option.

[code]

[2018-12-11 04:24] Tommy-yuan opened #8147 "Add index to orchard system table"
We found that if we are using orchard component such as widgets or users on page, when the page is rendering,  multiple sql query will be executed(eg. find certain component in content item record table and content type table, then join content version table to decide whether it's published, etc ), which is very consuming on database if high concurrency occurs . After we have added index on these

[2018-12-14 19:05] ahmadidev opened #8148 "The "Propose a feature idea" is broken"
Unfortunately the "Propose a feature idea" in README.md is broken.

[2018-12-17 17:41] BenedekFarkas opened #8149 "Removing the usage of YamlDotNet.Dynamic from Orchard.Layouts"

[2018-12-17 20:34] #8149 closed, assigned to BenedekFarkas

[2018-12-20 20:03] sebastienros commented on #8148
TODO: remove the link

New features can be provided as github issues

[2019-01-06 13:43] jmroyb commented on #6404
Hi,

Still not supported in 5.2.1.

Do you plan support it soon?

Thanks

[2019-01-09 16:44] HermesSbicego-Laser opened #8151 "LocalizationPart: weird use of AuthorizeFor in the SummaryAdmin"
In the Localization.ContentTranslations.SummaryAdmin.cshtml it tests the permission for PublishContent (generic permission) in order to choose if showing the list of translations and the "+ translation" link: this check is not correct.
It should:
- test for the CreateContent permission (not the generic one but the alterd one for the that Content) in order to choose if showing the "+ translation".

[2019-01-10 10:53] Liion91 opened #8152 "WorkContext.CurrentUser jquery"
Sorry, I'm new with this "tool",
Can I pass the WorkContext.CurrentUser to one jquery function?
I'd must get from the current session the sessionid and the CurrentUser, and after add they into a jquery function for call external services.

Thanks of all.

[2019-01-10 11:01] Liion91 commented on #8152
Hi,
I've just solved with:
 var usrName = "@HttpContext.Current.User.Identity.Name";
 var sessionid = "@HttpContext.Current.Session.SessionID"

I'd like to think it can serve other.

Thanks of all.

[2019-01-10 11:36] #8152 closed, assigned to nobody

[2019-01-11 17:02] 0liver commented on #8133
@sebastienros @bleroy @Piedone @pszmyd @BenedekFarkas

I really hope you know the answer - please share your knowledge with me and the world ;-)

[2019-01-11 22:13] Piedone commented on #8133
Hmm, I can't actually remember that I've seen line numbers in logs ever. I just checked and they're certainly not there for me, not even when running locally in debug mode (yet alone in production). So I'm afraid I can't be of too much help here; however you shouldn't need to manually move the PDF files. If your csprojs don't have any different config than built-in Orchard modules' (I'm talking ab

[2019-01-11 22:44] 0liver commented on #8133
Thanks, Zoltán, for answering.

Well, I haven't seen line numbers from **regular** modules, either.  The core modules generate them, but they are naturally loaded from the \bin folder, so that's a different pair of shoes.

Maybe the solution is not that obvious - but we would be very glad to have those line numbers to tackle some of our bugs more easily.

[2019-01-11 22:49] bleroy commented on #8133
One thing that generally helps a lot is to check out the Modules window in Visual Studio during a debug session. It shows you where each dll was bound from, and should give you some clues about where it'll look for symbols and other debug info.

[2019-01-11 23:26] Piedone commented on #8133
Hmm, if it's core modules (i.e. the ones in Orchard.Core) then yes, possibly the issue is that those assemblies are not statically referenced from Orchard.Web (but dynamically loaded, so that might mess things up). Try adding a reference to your modules from Orchard.Web.

And I just noticed I've written "PDF" files :D. That's when you do more bizdev than development.

[2019-01-16 11:27] CraigLittlewood commented on #8117
Hello Frédéric

We are having the same issue.  Did you find a solution?

Regards
Craig

[2019-01-16 11:38] fbardet commented on #8117
Hello Craig,

My solution is to use task (powershell task or Unzip file task) to unzip the custom module package
(ex : Expand-Archive -Path $(System.DefaultWorkingDirectory)/_master/drop/MyModule.zip -DestinationPath $(TempDirectory)\MyModule)
and copy the files in the custom module bin folder
(ex : Copy-Item -Path $(TempDirectory)\Imagence.MyModule\Content\D_C\a\1\s\src\Orchard.Web\Modules\MyModu

[2019-01-18 06:17] HermesSbicego-Laser commented on #8151
Fixed via #8153

[2019-01-18 06:17] #8151 closed, assigned to nobody

[2019-01-20 00:54] rjamesnw commented on #8076
For those, like me, who followed old instructions (using Web Deploy) and installed the tools (and messed up the included module after uninstalling it), just simply download the .ZIP release, extract the `Modules\Orchard.DesignerTools` module and copy back to your website. ;) You're welcome.

[2019-01-22 02:30] 0liver commented on #8133
Thanks, everyone, for your input.

@bleroy You put me on the right track - the PDB files must be placed side-by-side with the modules' DLL files in the `App_Data/Dependencies` folder. I had tried that once by hand, but the PDB must have not exactly matched the DLL, so it wasn't used.

Here's how I achieved my goal for **precompiled extensions**.

I added the following method to `IAssemblyProbingFo

[2019-01-22 02:30] #8133 closed, assigned to nobody

[2019-01-22 06:01] zandiarash opened #8155 "buttons Edit and view doesnt work"
In the admin panel  I cannot change content items and  when i press edit or view the page refresh and nothing happens.
I can send admin username and password to your email if someone wanna help me.

Windows server 2012
SQL Server
Both of Master and Dev Branch tested
![a](https://user-images.githubusercontent.com/10775073/51515320-74e1f000-1e28-11e9-9be2-12a511b646bd.jpg)

[2019-01-22 06:16] zandiarash commented on #8155
my mistake
my cms is orcharad core.
I should ask in orchard core page
please close this here.
sorry

[2019-01-22 07:29] #8155 closed, assigned to nobody

[2019-01-28 16:02] LorenzoFrediani-Laser opened #8156 "Deleting media all profiles of the media are persistent"
When contentitem media file is deleted, the  media file is deleted from filesystem but the files generated and stored on  _Profiles folder  are not deleted and they can be displayed by direct url.

[2019-01-31 15:08] kcastro18 opened #8158 "Orchard CMS Facets using field [type] not working"
I am working on a custom search module and I am stuck in trying to implement facets that was discussed in this video https://www.youtube.com/watch?v=7v5qSR4g7E0&t=2960s.

So, I have a content type named [Docket] and I am trying to count how may Dockets are there in my search results. I tried the code below but the docketsCount is always 0.

`var resultFacets = searchBuilder.GetBits();

var docketF

[2019-01-31 19:35] Skrypt commented on #8158
I see that you posted a lot of requests in different places. If someone can provide informations about indexing features in 01 please do. I can't really answer from the top of my head on this since I've never used Orchard for indexing extensively. Though with Orchard Core you can use ElasticSearch queries now. Depending on how much advanced you are on your project I'd suggest you take a look at Or

[2019-01-31 19:45] kcastro18 commented on #8158
Thank your response. Do you know a good source/material I can read on about ElasticSearch? And I don't know where to start looking into Orchard Core. Could you give me an idea?

About the code .Count(), I know for a fact that it works because like I said I used [author] field and that counted the items just fine. I also have another facet for Rule content types that counts how many items in the se

[2019-01-31 20:03] Skrypt commented on #8158
Here is the documentation of ElasticSearch for Queries.
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl.html
Are you sure that this Field is stored in your Lucene index? You could try to inspect your index with a tool like Luke : https://github.com/DmitryKey/luke

[2019-01-31 20:13] sebastienros commented on #8158
The `type` field is not analyzed when it's been indexed, which mean when you query it you should not analyze it either, or it won't match the "exact" value. In this case you need to call `WithField("type", type).NotAnalyzed()`.

[2019-01-31 20:18] kcastro18 commented on #8158
.NotAnalyzed() worked perfectly! Thank you so much!

[2019-01-31 20:18] #8158 closed, assigned to nobody

[2019-02-01 11:00] MatteoPiovanelli opened #8159 "LocalizationPart: item with undefined culture or multiple items with same culture"
We noticed an issue with LocalizationPart.
Basically, users are allowed to create a new localized ContentItem and save it/publish it with "undefined" culture. On top of that, it's possible to create several different ContentItems with the same culture.

Repro steps.

- Start with a tenant that has a ContentType (call it MyCT) that has a LocalizationPart. The tenant should have at least 2 configure

[2019-02-01 11:02] MatteoPiovanelli commented on #6793
found this while opening another issue. We have a culturePicker module in our open source stuff:
https://github.com/LaserSrl/Laser.Orchard.Platform
We have been using it for a while, and tinkering with it. I think it was originally from the gallery, but that is from before my time.

[2019-02-01 11:04] MatteoPiovanelli commented on #6793
Our culturepicker module is opensource (has been for a while, but I only just remembered about this issue)

https://github.com/LaserSrl/Laser.Orchard.Platform/tree/master/src/Modules/Laser.Orchard.CulturePicker

[2019-02-11 18:43] aipetryakov commented on #6793
May be helpful, you can reach

- cross-domain localization
- page to page localization redirect

by three modules:

- https://github.com/MainBit/MainBit.Utility
- https://github.com/MainBit/MainBit.Alias
- https://github.com/MainBit/MainBit.Localization

this modules are used on http://mainbit.com

[2019-02-19 09:00] MarcoViglione-Laser opened #8160 "Performance issues on taxonomy autocomplete"
I have a taxonomy with more than 3000 terms. I tried to put a taxonomy field referencing it in my content type, but the autocomplete results take between 5 and 10 seconds to appear. During this time there is nothing telling the user that elaboration is in progress, and if he clicks anywhere else on the page the results are never shown.
The method taking a lot of time seems to be `GetTerms` inside

[2019-02-19 17:59] Skrypt commented on #8160
You could maybe also try to index those Taxonomy terms in a separate table so that it retreives only what's needed like we do in OC. I don't remember exactly if we do this in Orchard but if it's retreiving records directly from the main content table then that's probably why it's slow.

[2019-02-19 19:20] #8148 closed, assigned to BenedekFarkas

[2019-02-21 00:41] #7942 closed, assigned to nobody

[2019-02-21 00:41] #8030 closed, assigned to nobody

[2019-02-21 00:41] #8046 closed, assigned to nobody

[2019-02-21 07:06] niranjankala opened #8161 "Upgrade to jQuery 3.3.1 and jQuery UI 1.12.1"
I run into a problem with old version of jQuery that tends to fail lots jQuery widgets. So i have to manually upgrade the version of jQuery in the Orchard CMS release build. It would be better to have updated version  of these libraries.

[2019-02-21 16:09] GiuseppeMusso-Laser opened #8162 "Subquery improvement for HqlExpressions"
Hi all,
I need to filter content items according to a custom HQL query that can extract (potentially) many ids.
So I created a query filter provider that executes my HQL query, gets a list of content ids and adds a where condition in the form of:

  predicate = x => x.InG("Id", ids);

where ids is a variable of type List<int>.
If ids is a very long list, this query may experience some performance

[2019-02-21 20:05] sebastienros commented on #8162
I don't understand how the query is rewritten. Can you share an example?

[2019-02-21 20:06] sebastienros commented on #8160
Fine with a spinner. Can the service also be cached?

[2019-02-22 09:51] GiuseppeMusso-Laser commented on #8162
Hi, here is an example.
We wrote an Orchard Module to deal with user contacts. Every contact (MobileContactPart) may have zero, one or more mobile devices (PushNotificationRecord) associated with it.
I need a projection to extract all contacts with a specific device type (Android, iOS, WindowsMobile) so I wrote an IFilterProvider:

[code]

where the :device parameter is the device type (Android, A

[2019-02-25 11:12] niranjankala commented on #8161
Hi @sebastienros,

I would like to contribute about this upgrade of jQuery libraries. How can i start contribute?? What is the process to get start. I would be better to have discussion to let me know about the process if possible...

Thanks,
Niranjan

[2019-02-26 16:58] #7767 closed, assigned to nobody

[2019-02-26 17:05] #7789 closed, assigned to nobody

[2019-02-26 17:13] #3671 closed

[2019-02-26 17:14] #4138 closed

[2019-02-26 17:45] #3275 closed

[2019-02-26 18:17] #8100 closed, assigned to nobody

[2019-02-26 18:20] BenedekFarkas commented on #8156
@LorenzoFrediani-Laser FYI I tested this, works nicely and I added support for the same thing when using Azure Blob Storage.

[2019-02-26 18:20] #8156 closed, assigned to nobody

[2019-02-27 08:56] kiventwang opened #8164 "have a exception on second setup later"
when I run the program setup page write the information later（I choice the software as service ）the program correct run。the I delete the app_data folder start the second setup，I choice the blog in this time,but the program throw an exception  "An unhandled exception was thrown by the application.
System.ArgumentNullException: The folder 'wwwroot' that contains the web-servable application content

[2019-02-27 12:43] niranjankala commented on #7932
I am in the progress to upgrade the latest version for client website but i am also facing this issue in Dev branch so which branch is stable to checkout?

[2019-02-27 21:53] StanleyGoldman commented on #3275
Nice!

[2019-02-28 11:03] Lawyerson opened #8165 "Removing supported cultures breaks AutorouteSettings"
Steps to reproduce:

1. Start with a website that has 1 supported culture (in my case nl-BE)
2. Create a new Content Type that has an AutoroutePart attached
3. Add an additional supported culture to your site (in my case en-US, which alphabetically comes before nl-BE but I'm not sure if that's relevant)
4. Save the content definition of the Content Type you just created
5. Remove the culture you p

[2019-02-28 13:51] Skrypt commented on #8165
Nah it was working someone broke it.

[2019-02-28 15:29] BenedekFarkas commented on #8133
I think this could be a nice addition to the source - enabled by default and disabled in the Release transform of HostComponens.config for example?

[2019-02-28 20:13] sebastienros commented on #8165
Do you think you can provide a PR ?

I assume the mitigation is to delete the custom pattern for this culture before you change the settings.

[2019-02-28 20:16] sebastienros commented on #7932
@niranjankala 1.10.x is the most stable. dev has new features and breaking changes.

[2019-02-28 20:17] sebastienros commented on #8164
Looks like an issue for https://github.com/OrchardCMS/OrchardCore, please file a new one on the other repository.

[2019-02-28 20:17] #8164 closed, assigned to nobody

[2019-02-28 20:18] sebastienros commented on #8161
Create a PR that updates the version.

[2019-03-01 16:48] BenedekFarkas commented on #7922
@jersiovic 1.10.3 is in pre-release now, so after that we'll focus on releasing 1.11 ASAP, but there are a few things to fix there as well.

[2019-03-01 16:48] #7922 closed, assigned to BenedekFarkas

[2019-03-02 15:45] madmox commented on #3954
Tried migrating our solution to Orchard 1.10.3 to check if this issue was fixed. Looks like it's not!

This keeps the querystring:
[code]

When the file `foo.css` exists, this doesn't:
[code]

[2019-03-02 16:26] madmox commented on #3954
Looks like the whole PR #7564 is not included in Orchard 1.10.3 (at least not in [the revision](https://github.com/OrchardCMS/Orchard/commit/a53d30dd6a94d80aa02ae98e617d288ffdc23f64) associated to the tag).

[2019-03-05 20:38] Piedone opened #8166 "Registration challenge e-mail won't work if only authenticated users can access the frontend"
If you revoke the AccessFrontend permission from anonymous users then the whole registration challenge e-mail mechanism breaks:

1. After submitting the registration form you'll get an Access Denied because AccountController/ChallengeEmailSent is inaccessible.
2. Opening the link received in the challenge e-mail will again give you an Access Denied because the ChallengeEmail action is inaccessible

[2019-03-05 20:47] BenedekFarkas commented on #8166
@sebastienros if you agree that it's OK from a security perspective, then I'll fix it for 1.10.3.

[2019-03-08 22:59] sebastienros commented on #8166
GTG

[2019-03-10 00:05] BenedekFarkas commented on #8166
@sebastienros pre-release (tag and package) updated.

[2019-03-10 00:05] #8166 closed, assigned to BenedekFarkas

[2019-03-10 14:16] happydaily opened #8168 "How to use logger in Orchard customer module?"
I want to use logger for customer module,I add  public ILogger Logger { get; set; } and  Logger = NullLogger.Instance  and Logger.Warning("Erssss") like orchard.framwork, but customer module don't log  error ,by breakpoints,I find Logger still is Orchard.Logging.NullLogger,how can I get  an instance of CastleLogger?

[2019-03-10 14:51] ViRuSTriNiTy commented on #8168
The correct logger instance is injected, see https://stackoverflow.com/questions/9225040. Where does the log call takes place? Any chance that you have it in the constructor or a place where the logger instance is not injected yet?

[2019-03-11 07:15] happydaily commented on #8168
How to injected castlelogger property in customer module ?

[2019-03-11 17:36] ViRuSTriNiTy commented on #8168
Did you read the stackoverflow answer posted by @pszmyd (Piotr)? The logger instance is injected by the Autofac module, you don't need to inject it yourself. You could set a breakpoint in the Autofac module to analyse why your module is skipped or something.

[2019-03-12 10:22] rfaix opened #8169 "How is it possible to restore a website on another server?"
I tried to restore Orchard after a server failure on a new hardware and cannot get it running. Is there no way that a standard backup can get brought online again? Nobody remembers the settings entered a few years ago.

[2019-03-14 19:06] sebastienros commented on #8169
What kind of errors do you get?

[2019-03-14 19:09] sebastienros commented on #8168
Here is an example:
https://github.com/OrchardCMS/Orchard/blob/5b5eda6ae36dc2d7906599882165ef1e985cdc8c/src/Orchard.Web/Modules/Orchard.Glimpse/Services/DefaultGlimpseService.cs#L24

You only need to declare a custom `ILogger` property, initialize it with a `NullLogger` and at runtime it will get the correct instance.

[2019-03-14 19:09] #8168 closed, assigned to nobody

[2019-03-15 01:36] rfaix commented on #8169
The error is that even the web.config cannot get processed. The error
sounds something like "Error while performing the operation web.config"

The old server has been 2008 R2 and the new one is 2012.
I have really no idea how to bring the last few sites, which are running on
orchard, back online. I had no problems with other asp.net cms systems,
which have been running on the same server.

best re

[2019-03-15 02:46] rfaix commented on #8169
If I'm installing Orchard with setup again, then I get Orchard running, but
as soon as I restore the database I'll get the following error message
(translated by Google):

Server Error in Application /.
The resource can not be found.
Description: HTTP 404. The resource or any of its dependencies may have
been removed, renamed, or temporarily unavailable. Check the URL below and
make sure it's spel

[2019-03-20 09:56] #6946 closed

[2019-03-20 14:41] BenedekFarkas commented on #6014
@sebastienros I changed the milestone for this issue, because the associated PR was merged into dev (not 1.10.x), so it's not included in the 1.10.3 release.

[2019-03-21 15:12] Lawyerson commented on #8165
I'm developing against a local TFS copy, so it would be easier for someone more invested in the project to do it.

[2019-03-22 04:57] RockNHawk opened #8171 "Orchard 1.10.3 MySqlException: Specified key was too long; max key length is 1000 bytes"
Error while new installing Orchard 1.10.3.

Fails on MySql 5.5 (It's OK in MySQL 5.7)

`2019-03-22 12:54:30,411 [6] Orchard.Data.Migration.DataMigrationManager - Default - An unexpected error occurred while applying migration on Settings from version 4. [http://localhost:9090/]
System.Reflection.TargetInvocationException: 调用的目标发生了异常。 ---> MySql.Data.MySqlClient.MySqlException: Specified key was to

[2019-03-22 06:46] RockNHawk opened #8172 "Page title field uses Chinese garbled"
Orchard Version: 1.10.3
MySQL:5.7

![image](https://user-images.githubusercontent.com/3222379/54805193-25e1fb00-4cb1-11e9-8108-fb36ad1b1cbf.png)

Chinese Culture is alread added to setting and set to the default.
How can  I resolve the problem ?
Thanks!

[2019-03-22 07:07] RockNHawk commented on #8171
Use MySQL 5.7 resolved this problem.

[2019-03-22 07:07] #8171 closed, assigned to nobody

[2019-03-22 17:25] paynecrl97 commented on #6782
I have the changes ready for this, but I no longer seem to be able to push to this repo 😞 . Can someone help me out and add me to the correct team please?

[2019-03-22 17:36] paynecrl97 commented on #6782
I've opened a PR that adds these three options to every field. There's a slight problem though:

Those three options are not always valid depending on the type of data that the field contains. e.g. remove tags is not valid on a boolean field.

I also noticed that the existing IsIndexed setting is displayed for all fields, but it only affects Infoset fields e.g. it's there for the Taxonomy field, b

[2019-03-23 05:59] RockNHawk opened #8174 "Orchard Content BodyPart rich text contains "<" will cause XmlException"
Hi,

I direct copy full content of an HTML page, then paste and save into a content with BodyPart.

Then cuase the XMLException , the "Content Items" page could not display anymore.

I think it's because the source page contain a un-escaped text "<".

### The source text
![The text](https://user-images.githubusercontent.com/3222379/54862277-35297d00-4d73-11e9-8c9a-e36f372414bd.png)

### Code error

[2019-03-23 07:32] RockNHawk commented on #8174
Remove this content item from database can avoid this problem.

[2019-03-23 09:05] happydaily opened #8175 "How to use Logger in Orchard.setup"
catch (Exception ex) {
                Logger.Error(ex, "Setup failed");
                _notifier.Error(T("Setup failed: {0}", ex.Message));
                model.Recipes = recipes;
                foreach (var recipe in recipes.Where(recipe => recipe.Name == model.Recipe)) {
                    model.RecipeDescription = recipe.Description;
                }
                model.DatabaseIsPrecon

[2019-03-28 02:34] RockNHawk commented on #7785
I have the same problem on mono , give the App_Data folder permission or delete the folder also have this problem, any one run Orchard 1.10.3 on mono ?

Version Information: 5.16.1.0 (2018-06/a76b50e5faa Thu Mar 14 15:41:21 PDT 2019); ASP.NET Version: 4.0.30319.42000
Powered by Mono

[2019-03-28 19:04] sebastienros commented on #8174
How did this content got added to the database? Are you using some custom code to do it? The way Orchard does it makes everything XML encoded so this should not have happened. Or did you just use the content editor? In this case could you share the text you pasted?

[2019-03-28 19:06] #6782 closed

[2019-03-28 19:07] sebastienros commented on #8172
Can you explain the issue? With repro steps?

[2019-03-28 19:09] sebastienros commented on #8169
Did you check the log files in App_Data, they usually contain the reason why it can't start.

[2019-03-28 23:52] RockNHawk commented on #8174
Hi, Thank you for taking the time to reply to me.

I just use the Orchard Blog module's rich text  content editor, no third-party module.

the step is:

- I copy this web page http://www.nanhua.com/Signals/ABC-7A.html (direct copy the web page content, not copy the page html) from browser and paste it into the editor (Chrome 69 Browser).
![image](https://user-images.githubusercontent.com/3222379/5

[2019-03-29 01:47] RockNHawk commented on #8172
Hi, Thank you for taking the time to reply to me.

- I deploy a new Orchard instance (I have tried Orchard 1.10.3 release and 1.10.x branch from source code fresh install without any third-party module or customize)
- Create a new Page content
- the Page title fill in chinese character, such as “你好世界”
- also put some chinese character in Layout and Body part
![image](https://user-images.githubuser

[2019-03-29 01:58] RockNHawk commented on #8174
I think maybe the Encode Html method just encode the legal html tag , ignored the single '<' or '>' character, maybe add a str.Replace("<","&lt;").Replace(">","&gt;") after the Html Encode logic then will be OK ...

[2019-03-29 03:17] rfaix commented on #8169
The log files from Orchard are really a nice feature. They are getting
created daily created and are only using some space in the directory,
because each of the error logs have exactly 0 bytes. With other words are
they really senseless.

The same is valid for the recipes log files.

best regards
Rudolf Faix

On Fri, Mar 29, 2019 at 3:09 AM Sébastien Ros <notifications@github.com>
wrote:

[2019-03-29 09:19] happydaily commented on #8168
I try to use log in orchard.setup module,setupcontroller.cs,at line 163,when error occured, Logger didn't worked?

[2019-04-02 07:34] HermesSbicego-Laser opened #8176 "Style.Include and Script.Include register the wrong resource key in debug mode"
Using `Style.Include(resourceDebugPath, resourcePath)` within a view, it fires the ResourceRegister.Include Method that calls ResourceManager.Include which use the resourcePath as the key of the resource even if - in fact, based on settings - it renders the debug resource.
It should use the right key based on which resource it will render (resourcePath when environment is set to release, resourceD

[2019-04-03 21:20] cmsilv opened #8179 "Unable to access files in App_data"
Upgraded from Orchard 1.10.0 to 1.10.3 and was testing changes.

Tried launching the site and received this error

[code]

I noticed that in 1.10.3 changes have been made to Orchard/FileSystems/AppData/AppDataFolder.CreateFile to create the file in a temp location and then move it to the App_Data folder  instead of just creating the file in App_Data directly. Per this [article](https://stackoverfl

[2019-04-04 19:05] sebastienros commented on #8179
Can you provide a PR?

And I assume they don't inherit the rights form the original folder either?

[2019-04-04 19:14] sebastienros commented on #8169
If you can share the database and your App_data folder with me I am ok to take a look and find the solution. You can find me on skype (sebastienros) and send me the files from there.

[2019-04-04 19:17] sebastienros commented on #8174
It;s definitely not a standard &lt;

![image](https://user-images.githubusercontent.com/1165805/55582102-7b67d000-56d3-11e9-8e7c-743ce1c1aafc.png)

I think we had a similar issue with some other chars by the past. @BenedekFarkas do you remember something like this, I think you were involved in the resolution too.

[2019-04-04 21:02] cmsilv commented on #8179
The file does have some access permissions. My guess is it inherits these from the original folder and then keeps them through the move operation even though the inheritance to the original folder is severed. Just a guess though.

Will provide a pull request shortly.

[2019-04-04 21:16] cmsilv commented on #8179
#8180

[2019-04-06 04:45] gtmoraisomd commented on #8164
I just created the wwwroot folder there and it was fine, apparently an issue with the ImageSharp and the Agency template.

[2019-04-06 07:52] hsbicego opened #8181 "ContentTypePlacementStrategy loses Wrappers and Alternates of originary placement.info"
When Using "Edit Placement" in "Content Definition > Edit ContentType" you can reorder Editor `shapes`; in order to do that, at code level `ContentTypePlacementStrategy` _creates e new_ `Placement.Info` and set the new `Location` to it. So doing, however, **all other Placement properties are loses**, also wrappers and alternates. We need to keep them and let the `ContentTypePlacementStrategy` to *

[2019-04-08 15:18] BenedekFarkas commented on #8108
@jimasp I'm so sorry for coming back to this so late.
This problem came up in one of our client projects, so I applied the changes from your PR and it's working great! I added some suggestions to you PR, I think it's good to go with those!

[2019-04-10 04:06] RockNHawk commented on #8172
I have tried https://dotnest.com , haven't this issue.
So, any one know how https://dotnest.com solved this problem ?

[2019-04-10 05:38] HermesSbicego-Laser commented on #8172
Tryed on our test env and everything works as expected, with no issue. Could be a mysql db misconfiguration?

[2019-04-10 06:20] HermesSbicego-Laser commented on #8176
Closed via #8177

[2019-04-10 06:20] #8176 closed, assigned to nobody

[2019-04-10 08:00] RockNHawk commented on #8172
Ah,, may be MySQL connection string should add `;charset=utf8;` parameter, let me have a try....
Thank you for your advice !

[2019-04-10 09:19] RockNHawk commented on #8172
@HermesSbicego-Laser Add `;charset=utf8;` parameter to connection string solved my problem , Thank you!

I think Orchard should add`;charset=utf8;` parameter to  connection string template in Setup page.

[2019-04-10 09:19] #8172 closed, assigned to nobody

[2019-04-10 09:41] RockNHawk commented on #8172
Orchard MySQL 中文乱码。

 Orchard MySQL 텍스트가 왜곡되었습니다.

 Orchard MySQL text garbled.

Orchard MySQL Text verstümmelt

Orchard MySQL 文字化け

(Add this comment to make it easier for others to search)

[2019-04-12 12:19] ShadowmourneE opened #8185 "MSBuild.Orchard.Tasks problems with debugging"
Hi everyone!
I have a little bit problems with debugging MSBuild.Orchard.Tasks.
I have turned on breakpoint in Execute method for example in FileUploadLines.cs ( Orchard.Tasks). This is Orchard .cs file, not custom. And of course I have done all instructions about debug msbuild tasks such as (turn on "Enable Just My Code" -> "Warn if no user code on launch" in debug options of my Orcahrd project.)

[2019-04-14 15:09] #8185 closed, assigned to nobody

[2019-04-16 09:08] GiuseppeMusso-Laser opened #8187 "Slow autoroute check"
Hi all!
I experienced a performance problem with autoroute computation.
An old tenant of mine has several (about 4000) AutoroutePartRecords.
Its home page has no DisplayAlias and was created some years ago.
Now, I modified some text in this home page and when I saved it, the operation tooks me some minutes. It came out the bottleneck is in Orchard.Autoroute.Services.AutorouteService.ProcessPath(Au

[2019-04-18 19:07] #8179 closed, assigned to nobody

[2019-04-18 19:09] #8181 closed, assigned to nobody

[2019-04-19 02:17] deltoss commented on #7735
So if this is done, how do we achieve it with Orchard Core?

[2019-04-22 11:52] tomakali commented on #7735
can orchard run on AWS lambda?

[2019-04-23 10:01] samawiamoin opened #8188 "Orchard doesn't show module enabled on runtime"
I am running Orchard locally. When I enable any module from Modules then it wont show that module enabled until I rebuild my code locally and run it again. When I run my code again after rebuilding the it shows my module enabled.

Why isn't it showing enable & disable status of a module on performing this action on runtime before rebuild?
Why everytime, there is a need to rebuild code for seeing w

[2019-04-29 15:18] njones57 opened #8190 "FIPS Compliance Issue"
Due to a company policy requiring NIST policy compliance, FIPS has been turned on for most of our machines. When re-building the indexes in Orchard, we are seeing the following error:

![image](https://user-images.githubusercontent.com/1341934/56906420-320b6600-6a70-11e9-8baa-c1bf8c52ce6e.png)

Are there any updates or configuration settings we could change to fix this?

This is for Orchard v1.10.

[2019-04-30 09:55] Skrypt commented on #8190
I think it means that you would need to change the MD5CryptoServiceProvider for using something else since FIPS doesn't allow anything else than TLS 1.0 encryption (SHA-1 or SHA-2). An alternative would be to add this configuration section in your web.config file :

[code]

[2019-05-01 22:31] roballred opened #8191 "enabling module requires app restart"
This is a really annoying issue that causes frustration for developers and fear in non technical end users who see that sometimes when you enable an application you have to restart the app. This is happening specifically on azure web services.

[2019-05-02 19:05] sebastienros commented on #8191
By design on .NET Framework, not much we can do about it. In Orchard Core we only reload the tenant so it's much faster, and doesn't impact other tenants.

[2019-05-02 19:05] #8191 closed, assigned to nobody

[2019-05-02 19:09] sebastienros commented on #8190
The only solution seems to be to build a custom version of Lucene that would not use this provider.
See the same issue for DNN and how it was fixed: https://dnntracker.atlassian.net/browse/DNN-4125

I assume you could use your own build, or provide a fix to Lucene.NEt if it's still maintained.

[2019-05-03 09:11] HermesSbicego-Laser opened #8192 "Orchard.Localization: Translations tests against wrong permissions"
A user without `EditContent permission` if try to translate a Content not set as `Securable` (Taxonomy, Term, ...) cannot translate the content beacause unauthorized (the Orchard.Localization.Controllers.AdminController tests the `EditContent Permission`).
Ex:
- Set two cultures to a new tenant ("it-IT", "en-US")
- Create a localized taxonomy ("categorie","categories")
- Create a role EditorForTer

[2019-05-03 15:52] roballred commented on #8191
@sebastienros Can you explain what is happening and any practices that we can use to minimize the impact on sites? Moving to Orchard core is not the answer for many sites right now.

[2019-05-03 15:57] sebastienros commented on #8191
This is how it was implemented, and it won't change because there are too many things that would change too. Because enabling a mode is not something that is done often, and shod probably not be done in prod, it is easier to generate the DI services from scratch by restarting the site. Also as the module might require dynamic compilation it would also force a restart.

I closed the issue not becau

[2019-05-03 19:26] roballred commented on #8191
@sebastienros That is solid advice, thank you.

[2019-05-09 10:50] HermesSbicego-Laser opened #8194 "ILocalizationService.GetLocalizedContentItem does not work with Localized Terms"
If the content has a `TermPart` should have a specific logic in order to find localizations for it, like in `ILocalizationService.GetLocalizations()`; soon a PR for dev.

[2019-05-10 12:36] HermesSbicego-Laser commented on #8194
Looking a little bit deeper into the code and trying the localization functionality on one of our more complex project, some corner cases are not well managed. So I will send a more wide PR in order to manage them.
some significative cases:
- if the MasterContent has been deleted, it cannot translate terms
- Translating a content starting from a localized version wrongly clones the master content

[2019-05-10 13:11] BenedekFarkas opened #8196 "CommonPart(Version)Record query performance problems"
There are no indexes on CommonPart(Version)Record columns, which can cause performance issues and query timeout with a couple thousand content items in common scenarios, such as simply displaying the content list at "/Admin/Contents/List". This listing can order items by Created/Modified/Published date, so at least those columns should have an index.

[2019-05-10 19:10] sebastienros commented on #8196
Good point

[2019-05-10 19:14] #8194 closed, assigned to nobody

[2019-05-10 19:38] #8187 closed, assigned to nobody

[2019-05-13 17:20] BenedekFarkas commented on #8174
Sorry for replying just now. There's an open issue that I think cover this as well: #7560.

[2019-05-14 12:34] BenedekFarkas commented on #8162
I made a mistake with the milestones - this was actually released in 1.10.3 (PR was merged two weeks before that), so I'll reassign the appropriate milestone and close it.

[2019-05-14 12:34] #8162 closed, assigned to nobody

[2019-05-14 20:52] BenedekFarkas commented on #8056
Does this mean that the length of the DisplayAlias column should be restricted to 255 characters?

[2019-05-14 21:00] BenedekFarkas opened #8198 "Autoroute migrations: Consolidate UpdateFrom4 changes into Create"
UpdateFrom4 was added in #7449, but its changes were not added to Create, which makes further changes/contributions harder.

[2019-05-14 21:16] BenedekFarkas commented on #7754
Isn't this a duplicate of #7932?

[2019-05-14 21:24] BenedekFarkas commented on #7455
Shouldn't this target 1.10.x (1.10.4 release) instead? #7417 was merged into 1.10.x (and released in 1.10.3). Btw the change should be just that the extension's logic is moved to ProjectionManager, right?

[2019-05-15 14:44] #7524 closed

[2019-05-15 15:11] BenedekFarkas commented on #7118
@I3undy is working on this.

[2019-05-15 15:21] barthamark commented on #7932
This feature broke with this PR merged #7564 into dev which fixed #3954 .

The problem is that in StylesheetBindingStrategy.cs Discover() the virtual path is ignored if the shape.Url has value (which might contain the query string). Using this value fixes the query string problem but ignores the hit.fileVirtualPath which points to the correct filename (the one in the module's folder instead of the

[2019-05-15 15:42] zorankalicanin opened #8200 "Culture Picker:"
Hi All,

is it possible to create only one culture picker per theme?
Right now whenever I create some widget, with added Localization part, new culture picker is created also. As a result there is to many pickers.
As solution i create an alternate per picker and delete html content of the alternate.
I am wondering is there some more elegant solution.

Thanks in advance
Zoran Kalicanin

[2019-05-15 15:53] BenedekFarkas commented on #7932
Fixed with #8199.

[2019-05-15 15:53] #7932 closed, assigned to barthamark

[2019-05-15 15:54] BenedekFarkas commented on #7754
Fixed with #8199.

[2019-05-15 15:54] #7754 closed, assigned to barthamark

[2019-05-15 18:18] BenedekFarkas commented on #8124
@ifjmacila is working on this.

[2019-05-15 18:22] Skrypt opened #8203 ".NET Core 3.0 (.NET 5)"
Since they announced that .NET Core will become .NET 5 and will unite all the frameworks are you guys planing to try to make Orchard 1 work with it? @BenedekFarkas

[2019-05-15 18:28] BenedekFarkas commented on #8203
We've joked about it that now we have Orchard CMS for .NET Framework, Orchard Core for .NET Core, so the next step is just "Orchard" for .NET. :D
The problem is that we (at least I) don't really have a good grasp on what .NET 5 is (compared to .NET Framework 4.x), but yes, Orchard 1.x should evolve further.

[2019-05-15 19:04] Piedone commented on #6942
I'm taking on this issue. On a vanilla Orchard site from the dev branch set up with the Default recipe it's actually more than 3300 file watchers; if there are more custom modules and themes then this goes up dramatically (just opening the lombiq.com homepage, which is not particularly complex, makes this go over 5600).

Any other long-term experiences @carlwoodhouse ? Is there any reason you'd ad

[2019-05-15 19:17] carlwoodhouse commented on #6942
Default should be fine I imagine ... tho I’ve checked and we still run it as disabled on patient; and have since the discussion when this issue was opened (we don’t have dynamic extension loading etc tho)

[2019-05-15 19:30] Piedone commented on #6942
I see, thanks. I'm testing this now with one of our production apps ([DotNest](https://dotnest.com), but in a test environment yet) and to be honest I don't see a noticeable performance difference (we've just run with default in the last five or something years without issues). Will come back with more results.

[2019-05-15 19:41] carlwoodhouse commented on #6942
I mean it depends on a lot of other factors to how much gain you’ll see; if any ..

How media is configured, how cache is configured, number of modules, etc etc

We mostly did it as we where running on app services which share the file system across instances and occasionally fcn’s Where occurring for no good reason and restarting all the instances (network latency to the drives having a weird eff

[2019-05-15 20:15] Piedone commented on #6942
Media for us is in Blob Storage, so that can be a pretty big factor, as no local Media folder (we're using App Services too). I'll see what I'll find. Foremost I'm interested whether there is any negative impact of having a Single or Disabled default, or the most issue you can get is that there's no measurable advantage.

[2019-05-15 21:26] Piedone commented on #6942
I did some measurements with the DotNest app having around 5000 tenants running on an Azure App Service. The deployed app is a precompiled build and uses Azure Blob Storage instead of a local Media folder. It also stores several of the tenants' App_Data files not locally (but rather in the DB and again in Blob Storage), most notable Lucene index and settings files; similarly, Settings.txt files ar

[2019-05-15 21:26] #7873 closed, assigned to barthamark

[2019-05-15 21:29] BenedekFarkas commented on #8008
Fixed in #8201.

[2019-05-15 21:29] #8008 closed, assigned to barthamark

[2019-05-16 19:07] sebastienros commented on #8200
Can you show a screenshot and some repro steps?

It's not obvious what "create" means in this context.

[2019-05-16 19:09] sebastienros commented on #7455
If it's a breaking change it can't. Unless there is no obvious implementations, or there is a way to be non-breaking,

[2019-05-16 19:11] sebastienros commented on #8174
Thanks, that's it

[2019-05-16 19:11] sebastienros commented on #8174
Duplicate of #7560

[2019-05-16 19:11] #8174 closed, assigned to nobody

[2019-05-16 19:24] BenedekFarkas commented on #7455
Well, it can be theoretically breaking if someone has their own IProjectionManager implementation. Orchard is all about extensibility, but I find that very unlikely.
But anyway, we've got the PR for dev, I'd still consider that good enough. :)

[2019-05-16 19:30] #8192 closed, assigned to nobody

[2019-05-16 19:37] sebastienros commented on #7998
Where it makes sense

[2019-05-16 19:56] BenedekFarkas opened #8208 "Adopt the Orchard Core .editorconfig"
See https://github.com/OrchardCMS/OrchardCore/blob/main/.editorconfig.

Used the built-in Code Cleanup feature of Visual Studio, see the PR for details.

[2019-05-17 07:05] zorankalicanin commented on #8200
**Home Page: there are two culture pickers**
![1  HomePage](https://user-images.githubusercontent.com/8599750/57910176-e97fe500-7884-11e9-98f2-304edeb4be37.PNG)

**In Dashboard, in the Widget page are added three html widgets. They are culture specific**
![2  AdminWidgets](https://user-images.githubusercontent.com/8599750/57909378-f13e8a00-7882-11e9-927f-d67e97e5c498.PNG)

**To HtmlWidget is added

[2019-05-17 14:53] MatteoPiovanelli opened #8209 "Taxonomies and Terms"
Some issues I am seeing in terms and taxonomies on the dev branch (pasting here from gitter):

I was checking stuff related to optimizations, specifically wrt Terms and Taxonomies. I noticed that in the dev branch TermPart has a FullWeight property, introduced in #7709 .
Using that property as it is now in dev reverses the ordering of terms in a taxonomy when compared to the situation in the 1.10.

[2019-05-17 18:27] #8203 closed, assigned to nobody

[2019-05-18 18:19] #7213 closed

[2019-05-18 18:47] #8124 closed, assigned to BenedekFarkas

[2019-05-18 18:56] #7455 closed

[2019-05-20 13:37] zorankalicanin commented on #8200
Issue is solved.
At the end I installed Culture Switch module.
There was needed only to fix changing culture on home page.

In the UserCultureController.cs, in the ChangeCulture method i used custom SetCultureCookie instead of SaveCultureCookie private method.

private void SaveCultureCookie(string cultureName)
{
   HttpContextBase httpContext = Services.WorkContext.HttpContext;
   HttpRequestBase

[2019-05-20 13:41] #8200 closed, assigned to nobody

[2019-05-21 14:54] barthamark commented on #7741
What I successfully reproduced here is that if I rename the folder it will work except if the new folder name differs only in casing - the folder is created and the file is there but it is broken (contains only white spaces). It seems that the issue is in the Azure SDK (I updated the NuGet package and still the same). Also successfully reproduced it in a .NET Core Console Application. Created an i

[2019-05-21 17:00] Piedone commented on #8174
BTW I tried to reproduce this error just by using the UI and couldn't. At one point the offending character gets encoded or something. However, if you assign the string directly to the infoset-backed property as under #7560 you can definitely get the exception.

[2019-05-21 18:05] #7925 closed, assigned to domonkosgabor

[2019-05-21 18:30] #8108 closed, assigned to jimasp, BenedekFarkas

[2019-05-21 19:03] Piedone commented on #7560
I've pushed a failing test into this branch: https://github.com/Lombiq/Orchard/commits/issue/ORCH-208 (see `InfosetFieldStorageProviderTests.ForbiddenXmlCharactersDontBreakInfoset`). However, on the fix I'd need some advises.

The issue is that you can save such invalid characters into an `XElement` and you can read it out if you read the attribute or the node's value directly but you'll see this

[2019-05-21 20:50] Piedone commented on #7560
Also, there's more than one place where the Infoset XML is directly written, so whatever we do should affect all of these:

- `InfosetHelper`
- `InfosetPart`
- `InfosetStorageProvider`

[2019-05-21 23:10] roballred commented on #7874
Did this not get added to 1.10.3? @sebastienros @Piedone

[2019-05-22 09:37] MatteoPiovanelli commented on #8209
Currently testing this:
https://github.com/LaserSrl/Orchard/tree/fix/8209_TAxonomiesTerms

[2019-05-22 10:28] BenedekFarkas commented on #8007
@sebastienros I'd like to circle back to the choice of upgrading to 4.6.1 as discussed on the PR: I think the argument for 4.6.1 was mainly about whether it's included in Windows Update. Based what I found in the [version and dependency table](https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/versions-and-dependencies), here's my take on the issue:

Orchard 1.10 shipped in March of

[2019-05-22 13:04] Piedone commented on #7874
Not, unfortunately. The PR was merged into dev, i.e. the upcoming 1.11 version's branch.

[2019-05-22 13:05] Flarescape opened #8211 "Validate ReCaptcha in custom controller and implementation redundant"
If i add a `ReCaptcha Element` to a dynamic form in the layout editor and submit to a custom controller, the `ReCaptcha Field` is not required an the form could be submitted without solving/checking the captcha.
How can i use the `OnValidate` from the `DynamicForms Module` in my module?

Also, the implementation is redundant in the `AntiSpam Module` and in the `DynamicForms Module`.

[2019-05-22 16:18] Flarescape commented on #8211
If someone has the same problem, i've found the solution to the custom controller problem.
Just implement this code from the dynamic forms controller at the beginning of your custom controller.
This uses all validators (also the recaptcha validator) and prevents a further processing of the submit.

[code]

[2019-05-23 10:03] BenedekFarkas opened #8212 "Refactoring Content Management for async operation"
This is an issue created for an already submitted PR that aims to convert Content Management (and everything that uses it) for async operation: #5324

[2019-05-23 12:00] BenedekFarkas commented on #6533
@sebastienros repro: Modify a package install URL under "/Packaging/Gallery/Modules" so that the package ID is invalid. Without change, the exception message will not be displayed as it's caught by `PackageManager.DoInstall()` and wrapped in an `OrchardException`. As suggested by the PR, throwing an `OrchardException` (instead of `ArgumentException`) will surface the original message, so the user

[2019-05-23 12:15] #6533 closed

[2019-05-23 16:08] #6518 closed

[2019-05-23 19:07] sebastienros commented on #8211
Will close because you found a solution.

[2019-05-23 19:07] #8211 closed, assigned to nobody

[2019-05-23 19:07] sebastienros commented on #8007
You are the boss

[2019-05-23 19:09] sebastienros commented on #8209
thanks for looking into it

[2019-05-23 19:23] Piedone commented on #7560
The approach we'll take as discussed during the meeting: Throw an exception when saving offending characters that'll explain which character is invalid and tell you not to use it. It also seems that the current behavior is a bug in `XDocument` since it either should encode the characters, or throw an exception as soon as you try to save it.

[2019-05-23 19:40] Piedone commented on #6942
What we discussed on the meeting: Go with Single as the default value in Release mode, document the others.

[2019-05-23 19:52] sebastienros commented on #8056
Or not index this field on mysql

[2019-05-23 21:15] MatteoPiovanelli commented on #8209
A pr should be coming soon.
Note that we have been testing this on our environments, that are a sort of hybrid between 1.10.x an dev.

[2019-05-24 17:02] BenedekFarkas commented on #8056
OK, so a generic solution might be that SchemeBuilder.CreateIndex ignores columns longer than 255 characters for MySQL databases.

[2019-05-24 17:05] #8212 closed, assigned to nobody

[2019-05-24 17:05] BenedekFarkas commented on #8212
PR not accepted, see explanation there: #5324

[2019-05-25 10:29] barthamark commented on #7741
Implemented a workaround where you rename it to a temporary name first and then rename it again to the target name (the one that only differs in casing).

[2019-05-26 11:05] BenedekFarkas commented on #8196
Fixed in #8210

[2019-05-26 11:05] #8196 closed, assigned to BenedekFarkas

[2019-05-26 11:55] BenedekFarkas commented on #8198
Fixed in #8217

[2019-05-26 11:55] #8198 closed, assigned to nobody

[2019-05-27 17:59] #7741 closed, assigned to barthamark

[2019-05-27 18:06] BenedekFarkas opened #8218 "(on hold) Removing workaround for Azure Blob Storage bug when renaming folders"
Follow-up for #7741: When https://github.com/Azure/azure-storage-net/issues/892 is fixed, the workaround applied in #8215 can be removed.

[2019-05-31 13:50] #6942 closed

[2019-06-03 15:46] HermesSbicego-Laser commented on #6962
Any updates on this?
A side effect is that the feature "Orchard.Users.PasswordEditor" does not work if the tenant has a prefix.

[2019-06-03 16:11] HermesSbicego-Laser opened #8221 "Performace issue on localized Taxonomies and Terms"
src/Orchard.Web/Modules/Orchard.Taxonomies/Handlers/LocalizedTaxonomyPartHandler.cs
The code between lines 53/70 is inefficient with lots of terms.

[2019-06-05 11:36] #7560 closed

[2019-06-06 19:04] sebastienros commented on #6962
I assume Path should not take the tenant into account. It should just be the url after the tenant prefix. And we could add a `Tenant` filter with the tenant name. Or have custom placement files per tenant.

[2019-06-07 06:39] HermesSbicego-Laser commented on #6962
Not sure to understand:

does it mean that the GetPath() should strip the tenant prefix?
ref: `Orchard\src\Orchard\ContentManagement\DefaultContentDisplay.cs - line 161`

the above private method is used also at line 108 in the `UpdateEditor` method
`var context = new UpdateEditorContext(itemShape, content, updater, groupInfoId, _shapeFactory, shapeTable, GetPath());`

I don't know if the change a

[2019-06-13 19:10] sebastienros commented on #6962
What about detecting ~/ then. If not used it would mean the absolute path of the request (applies to a single tenant), and if set it would mean the path without the tenant prefix (applies to all tenants).

I assume that wouldn't be breaking then.

[2019-06-18 13:23] LorenzoFrediani-Laser opened #8225 "Return all items by projection in ContainsAll if provided value is empty"
Need a filter for projections over StringFields that allows returning all items when the provided value is empty.
Like the filter ContainsAnyIfProvided i need a ContainsAllIfProvided filter
I will make a pr to do this.

[2019-06-18 14:43] LorenzoFrediani-Laser opened #8227 "Add button to publish contentitem on customform"
On CustomForms add the feature to add a publish button with custom label

[2019-06-25 08:56] HermesSbicego-Laser opened #8230 "Removing View Content Permission prevent viewing Widgets too"
Repro
- Remove to Anonymous role the "View all content" and "View own content"
- Try to access the homepage, all thw widgets are missing (e.g the main menu).

The BuildDisplay of widgets should test a custom permission: I think we should add a specific permission "View Widgets" and Adjust to it when testing the ViewContent; The new permission will be overridden if a specific widget is set as Secur

[2019-06-25 18:20] roballred opened #8231 "Problem with versioning in style include"
We used to be able to do the following:

Style.Include("site.css?version=4.1.5");

The versioning is now causing a error and is not able to find the resource.
(with the exception "System.ArgumentException: Illegal characters in path.")
Not present in 1.10.2 but is in 1.10.3

[2019-06-28 19:03] Piedone commented on #8231
Maybe related to https://github.com/OrchardCMS/Orchard/commit/514e4fa0d79486603382d8058c03a0a3cb9c12d3.

[2019-06-28 20:53] Piedone commented on #8231
Are you sure you didn't check this on a dev commit?

[2019-07-01 11:51] BenedekFarkas opened #8232 "Projections: Empty Query returns every content item"
Which can pretty much kill a site or even a whole server, even if you don't have many content items, just some Layout (as in Orchard.Layouts) that renders the Query.

[2019-07-02 06:42] HermesSbicego-Laser opened #8233 "ContentPicker should use the querystring "returnUrl" in order to go back to the host content"
When clicking on a content hosted into a contentpicker field, we can access it in edit mode. However, we are not able to return back to the host content.
By adding add a returnUrl Parameter in querystring we could achieve the goal.

[2019-07-04 10:15] MatteoPiovanelli opened #8235 "BUG FIX: BindingSources was missing alternates"
We ran into an issue with Localizers being unable to properly use the correct translated strings.
The situation was (repro steps):
In a Theme we had an alternate for MedialibraryPickerFields called Fields.MediaLibraryPicker.cshtml.
In a child Theme of that one we had another alternate called Fields.MediaLibraryPicker-ContentTYpe-FieldName.cshtml.
The alternate from the child theme had a LocalizedS

[2019-07-04 18:56] #8235 closed, assigned to nobody

[2019-07-04 18:59] #8227 closed, assigned to nobody

[2019-07-04 19:00] sebastienros commented on #8232
Add default paging? or prevent it?

[2019-07-04 19:01] sebastienros commented on #8230
Are you authenticated when you access the homepage with this repro?

[2019-07-04 19:03] HermesSbicego-Laser commented on #8230
No, anonymous

[2019-07-04 19:04] #7118 closed

[2019-07-05 11:05] BenedekFarkas commented on #8232
I wouldn't return any results in this case to be on the safe side. I don't really see any usefulness in returning every content item in the system, especially that it could leak sensitive information (since e.g. Users are content items too).

[2019-07-05 11:15] happydaily opened #8237 "How notifier are delivered to the front end and displayed?"
I have added message in Orchard.Notifier,
`_notifier.Add(NotifyType.Error, T("An Exception has occured,error message:{0}", filterContext.Exception.Message)); `
I want to display this message to front page by custom,What should I do?

[2019-07-05 11:28] BenedekFarkas commented on #7118
@sebastienros we've got some small adjustments in the works (we'll have a new PR for that) and we'll demo the feature in the meeting on the 16th.

[2019-07-10 09:48] HermesSbicego-Laser opened #8238 "Some Orchard.Core.Contents Views should use CreateRouteValues of metadata to generate the url"
In Orchard.Core.Contents, CreatableTypeList.cshtml and List.cshtml should use ContentManager.GetItemMetadata to generate the right url for creating a content.

[2019-07-11 10:01] AndreyLuzinov opened #8239 "Media Library delete folder could delete media from neighbor folders."
https://github.com/OrchardCMS/Orchard/blob/89c562c50216498ecf3b0a87d7ca8832005b4cdf/src/Orchard.Web/Modules/Orchard.MediaLibrary/Services/MediaLibraryService.cs#L98

Example:
1. You have 2 folders: Folder1 and Folder11
2. Delete folder Folder1.
3. Files from Folder11 will also be removed because you cannot search sub-folders with StartsWith function.

[2019-07-11 10:02] AndreyLuzinov commented on #8239
This issue related to DeleteFolder and RenameFolder methods.

[2019-07-11 19:03] sebastienros commented on #8239
Nasty one, it needs to be fixed ASAP

[2019-07-11 19:05] sebastienros commented on #8237
There is a Filter (NotifyFilter) that will be executed on each request and inject a custom shape in the current Layout, in the Messages zone. Then each theme can pick all the shapes from this zone and render them. The values are cleared on each request.

[2019-07-11 19:05] #8237 closed, assigned to nobody

[2019-07-11 19:06] sebastienros commented on #8230
How can you see anything if "Remove to Anonymous role the "View all content" and "View own content""

[2019-07-11 21:08] HermesSbicego-Laser commented on #8230
I will try to explain me better. This is my case.
 5 contenttypes, securable
- Page
- Company
- Insertion
- Projection
- Blogpost
And some widgets like
- HTML widget
- Recent blog post
- Blog archive
- Menu
- many others

Anonymous should be able to view
Pages
BlogPosts
Projections
And all widgets
But they should not be able to view
Companies
Insertions

In order to give permissions to view only t

[2019-07-16 14:07] MatteoPiovanelli opened #8242 "MediaUrl for OEmbed"
We noticed that unlike other Media Types, when a MediaPart is an OEmbedPart (we checked this for youtube and vimeo videos) its MediaUrl property is null.

Would there be any issue in populating that?

It could easily be done in the MediaPartHandler like this:
[code]

[2019-07-17 09:18] MarcoViglione-Laser opened #8243 "Content Picker - Culture filter lost after changing page"
When selecting a content item to add to a Content Picker, if the localization feature is enabled there's the option to filter content items by culture.
If there are enough content items to activate the pager, unlike the other filters the culture filter is lost after changing page.
I'll make soon a pull request to address this problem.

[2019-07-18 13:28] MarcoViglione-Laser opened #8247 "Content Picker - Selected items lost after changing page"
If a Content Picker shows multiple pages of content items, selecting items in a page and then moving to another page now causes the selections of the previous page to be lost. Clicking "Add selected" will only add the items selected in the current page.
I rewrote the script SelectableContentTab.js to allow for items selected in other pages to be memorized and added when the "Add selected" button i

[2019-07-18 19:11] sebastienros commented on #8242
I don't see any issue with that.

[2019-07-18 19:13] sebastienros commented on #8230
The content item controller should still check the permission for the widget, but the layer should not. Did you find where this is done right now?

[2019-07-18 19:17] #7939 closed, assigned to nobody

[2019-07-19 07:06] MatteoPiovanelli commented on #8242
I will test this a bit in the next few days an make a PR

[2019-07-19 13:28] MatteoPiovanelli commented on #8230
Easy repro:
Brand new tenant.
By default, anonymous users see the main menu on top of the home page.
Edit the Anonymous role. Remove "View all content" but add "View Page by others".
Now anonymous users won't see the main menu on top of the home page.

[2019-07-19 13:54] MatteoPiovanelli commented on #8230
I think permissions for the widgets are being checked here: https://github.com/OrchardCMS/Orchard/blob/bdf97f570d3e88895cdae8887208fabda1981438/src/Orchard.Web/Modules/Orchard.Widgets/Filters/WidgetFilter.cs#L84

[2019-07-19 13:56] MatteoPiovanelli commented on #8230
But, I would think that if I place a Widget on a Layer whose rule evaluates to `true`, you'd be automatically authorized to view that widget.

[2019-07-19 14:34] MatteoPiovanelli commented on #8230
I would look to remove that condition from that filter, but that may break someone's tenants.
Maybe we can figure out a way to add a `ViewWidgets` permission that we adjust into, and that is implied by VIewAllContent.

[2019-07-19 15:00] MatteoPiovanelli commented on #8230
A quick test doing just that with a `ViewWidgets` permission:
Not everything shows. For example, from a menu:
The menuWidget itself is shown, but not a CustomLink menuItem. At the same time, a ContentMenuItem that links to an item that the user can view will show in the menu.
![image](https://user-images.githubusercontent.com/19283945/61544851-88bc8680-aa46-11e9-8218-5e8ad377c0a0.png)
Off that men

[2019-07-23 14:02] oceanexplorer opened #8250 "LayoutEditor JS/Angular race condition"
A race condition is occurring with the layout editor when editing or creating a new page which results in the editor failing to load and an error on the console which states:

![image](https://user-images.githubusercontent.com/1367096/61717835-b6147780-ad59-11e9-9fda-c9ff7a2b89c6.png)

Add the UI fails to render:

![image](https://user-images.githubusercontent.com/1367096/61718392-ced15d00-ad5a-11

[2019-07-25 13:52] HermesSbicego-Laser commented on #8233
closed via #8234

[2019-07-25 13:52] #8233 closed, assigned to nobody

[2019-07-25 19:05] #8250 closed, assigned to nobody

[2019-07-25 19:08] sebastienros commented on #8230
Maybe a ViewWidget permission that inherits from ViewContent. So we could disable ViewContent and still add ViewWidgets?

[2019-07-25 19:09] #8242 closed, assigned to nobody

[2019-07-25 19:10] #8238 closed, assigned to nobody

[2019-07-26 19:27] cmsilv opened #8252 "Partially Hidden Checkbox on Workflow Admin Page"
The column header checkbox on the Workflow Definitions page of the admin panel is misaligned and partially hidden. As indicated in my screenshot below.
![image](https://user-images.githubusercontent.com/16928588/61976439-ca56af80-afb9-11e9-89d3-80870a0fc90f.png)

[2019-07-26 19:30] cmsilv commented on #8252
I created pull request #8253 to resolve this issue.

[2019-07-30 15:14] MarcoViglione-Laser opened #8254 "BlogPost CreateRouteValues metadata are wrong if BlogPost is made creatable"
If you make the BlogPost ContentType creatable, the creation link in the Admin Menu uses the default creation route and thus allows the creation of orphaned posts without an associated blog.

I'd suggest to put in the `GetItemMetadata` method of `BlogPostPartHandler.cs` a logic similar to the one used in the `AdminMenu.cs` file of Orchard.Blogs:
- If there is only one blog the route will contain a

[2019-08-01 19:05] #8254 closed, assigned to nobody

[2019-08-01 19:07] #8252 closed, assigned to nobody

[2019-08-06 00:59] damongroenveld opened #8256 "Manual Interface Resolution results in a different db transcation"
In an migration when running under automigrations, resolving an interface through workcontext.resolve<> results in a different transaction being used in the resolved interface vs interfaces that are resolved via dependency injection in the migration constructor.

e.g. Place ITransaction into the migration constructor and also do it through WorkContext.Resolve<ITransaction> in an UpdateFromX() meth

[2019-08-06 01:32] damongroenveld opened #8257 "Site lockup (unresponsive) if a tenant migration fails"
If a migration fails, then an OrchardException is raised. If this happens on anything but the default tenant then orchard will lockup and be unresponsive.
This seems to be because the call into the localisation code takes a lock but the default tenancy already has a lock somewhere.

Orchard version 10.x

[2019-08-07 08:40] LorenzoFrediani-Laser opened #8258 "returnurl parameter problem"
in many views this line of code is present (es: Core\Contents\Views\Content.SummaryAdmin.cshtml)
 var returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString();

why don't use relative url?
  var returnUrl=ViewContext.RequestContext.HttpContext.Request.RawUrl;

this will prevent error on a scenario of load-balancer redirecting https requests to http

[2019-08-08 11:42] #8209 closed, assigned to nobody

[2019-08-08 14:17] diegomarguerettaz opened #8259 "Token For Request Header"
add a new token in RequestTooken.cs to read a request header field.

[2019-08-08 19:03] sebastienros commented on #8259
Good idea. Feel free to submit a PR.

[2019-08-08 19:05] sebastienros commented on #8258
Would that work with prefixed tenants?

[2019-08-09 12:20] diegomarguerettaz commented on #8259
Working on this PR i found a problem in RequestTokens.cs in the Evaluate method:

[code]

The function FilterTokenParam don't check the token Name, therefore if i have a token for a QueryString parameter the program try to get the value first in request.QueryString and after in request.Form. If in request.Form there is a parameter with the same name of a parameter searched in the QueryString then

[2019-08-09 12:31] MatteoPiovanelli opened #8262 "MenuWidget Performances"
We have been giving a look to some possible performance optimizations, and we noticed that one of the things that ends up having a significant impact in the time it takes the server to respond (assuming no-cache) is the generation of menus.

I am currently preparing a bunch of changes to propose that should make them a bit faster (roughly 10-20% faster based on what I am testing right now)

[2019-08-09 14:38] LorenzoFrediani-Laser commented on #8258
Yes, i have tested it

[2019-08-09 16:39] BenedekFarkas commented on #7924
@sebastienros

So after a bit more digging, it all comes down to `Orchard.Web` having a reference to `Orchard.Glimpse` (without that, the decorators that allow measurements related to Orchard features are not working). Besides the projects that are referenced by `Orchard.Web`, the following projects cannot be loaded dynamically due to being part of the reference tree that start with `Orchard.Glimp

[2019-08-13 13:31] #8239 closed, assigned to nobody

[2019-08-13 13:38] BenedekFarkas commented on #8159
I agree with the suggested solution.

But: Can you change the selected culture of a content item? If you can't, then I don't think you should be able to create an it-IT culture draft if a published it-IT item exists already - you won't be able to do anything useful with it.

[2019-08-13 13:40] BenedekFarkas commented on #8120
@rezarouf please reopen or follow-up on [Gitter](https://gitter.im/OrchardCMS/Orchard) if this question is still relevant.

[2019-08-13 13:40] #8120 closed, assigned to nobody

[2019-08-13 13:41] BenedekFarkas commented on #8134
@Estar1 please reopen or follow-up on [Gitter](https://gitter.im/OrchardCMS/Orchard) if this question is still relevant.

[2019-08-13 13:41] #8134 closed, assigned to nobody

[2019-08-13 13:42] BenedekFarkas commented on #8136
@luciofassio please reopen or follow-up on [Gitter](https://gitter.im/OrchardCMS/Orchard) if this question is still relevant.

[2019-08-13 13:42] #8136 closed, assigned to nobody

[2019-08-13 14:28] BenedekFarkas commented on #8023
The AdminCultureSelector in the Localization module indeed shows the culture code (I just changed that to show the display name in b03d83473fbcb75f97cea195c8bb699d34bee7d0), but the TheAdmin theme overrides that shape and displays the cultures' display names.

[2019-08-13 14:28] #8023 closed, assigned to nobody

[2019-08-13 14:56] BenedekFarkas opened #8266 "Security sensitive permissions"
Counterpart of https://github.com/OrchardCMS/OrchardCore/issues/2177.

Suggested changes:

1. Add `Hint` property to the `Permissions` class that should be used to explain in detail how that permission affects the Users' access.
2. Add `IsSecurityCritical` property to the `Permissions` class that should be set to true for Permissions that can be used by Users to elevate their permissions (either e

[2019-08-13 15:02] BenedekFarkas commented on #8247
@MarcoViglione-Laser @sebastienros so #8248 completely fixes this issue?

[2019-08-13 15:02] BenedekFarkas commented on #8243
@MarcoViglione-Laser @sebastienros so #8244 completely fixes this issue?

[2019-08-13 15:38] #6962 closed

[2019-08-13 15:38] #8247 closed, assigned to nobody

[2019-08-13 15:38] #8243 closed, assigned to nobody

[2019-08-14 12:06] BenedekFarkas commented on #8056
@HengzheLi which MySQL version are you using?

[2019-08-14 14:03] BenedekFarkas commented on #8056
@sebastienros there are some deeper issues here: It seems that we have migrations in the built-in features that create indices on columns that cause problems in different database engines (and engine versions), SQL Server included.

Index size limits:

- MySQL
    - Version is earlier than 5.7 or the row format is redundant or compact: 767 bytes, which equals to 191 or 255 characters, depending on

[2019-08-14 14:55] mwentz commented on #6966
@sebastienros can we get the bug fix for this into the next release?

[2019-08-15 04:03] HengzheLi commented on #8056
@BenedekFarkas  I used version 5.7

[2019-08-15 17:27] BenedekFarkas commented on #8231
Updated milestone to dev as it turned out that it's not an issue on 1.10.x.

[2019-08-15 19:11] sebastienros commented on #6966
The change looks fine, but we'd need to target the dev branch as this is a breaking change.

[2019-08-15 19:12] sebastienros commented on #8007
Since yesterday 4.8 is on Windows Update so I assume all machines should have it. even App Service

[2019-08-15 19:14] sebastienros commented on #8266
A warning icon in front of each permission name maybe. Also a warning on the Role itself if any of the permissions it has is sensitive.

[2019-08-15 19:14] sebastienros commented on #8266
It's more like a 1.11 feature.

[2019-08-15 19:16] sebastienros commented on #7924
No idea, I am too rusty in O1.

[2019-08-15 19:17] #8258 closed, assigned to nobody

[2019-08-15 19:20] #8259 closed, assigned to nobody

[2019-08-15 22:00] #8231 closed, assigned to BenedekFarkas

[2019-08-16 11:28] BenedekFarkas commented on #8007
Nice, that's even better! I don't see it yet in the configuration for an App Service (still 4.7), but I guess it's just a matter of time. AWS Elastic Beanstalk seems to support 4.8 already.

[2019-08-16 11:36] BenedekFarkas commented on #8266
Anything specific against 1.10.x/1.10.4? Doesn't break anything, but improves security through better UI/communication.

[2019-08-19 00:01] michaelsync opened #8267 "Any recommendation on the expected behavior when the dependent module is not installed?"
Hello,

We are using Orchard 1.10.1. We found three different behaviors when we have the modules that have the missing dependency.

let's say the module-A is depending on the module-B.

1. **Enabling the module after installing that module**: I installed the module-A from the Gallery. It was successfully installed and asked me to enable it. So I clicked on the "Enable" button. It gave me "the obje

[2019-08-19 00:08] Skrypt commented on #8267
That generally means the module needs to be fixed. I think you found exactly why most people are not using the Gallery in 01. What you are experiencing is Dynamic Compilation issues which got fixed by not having it in Orchard Core 😉

[2019-08-19 00:39] michaelsync commented on #8267
Thanks. We are not ready to upgrade to Orchard Core. We have a lot of modules that we managed using the Gallery.

**Edit**: Please note that our modules are already compiled and it is in NuGet. So we just need to integrate our modules at **runtime**.

Is there any way to disable that Dynamic Compilation?
Or Is there any replacement or alternative that I can use instead of Gallery?

[2019-08-19 01:04] Skrypt commented on #8267
If you only need to do dynamic loading of assemblies then the issue might still happen. Yes, there is a way to disable dynamic compilation from web.config file if I remember well. Though, best way to deploy is to use a CI to avoid these type of scenarios.

[2019-08-19 01:30] michaelsync commented on #8267
Sure. I will check it out.

We are using CI as well. We have two parts (Orchard Website and Modules). We deploy the Orchard website from CI. But For modules, we publish them to our private NuGet. And then we upgrade those modules from Orchard gallery. We have the auto-upgrade and manual upgrade option.

If you are talking about deploying Orchard + modules together whenever we have a new release fo

[2019-08-19 01:35] Skrypt commented on #8267
It's fine, everyone has their preferences 😉

[2019-08-19 02:38] michaelsync commented on #8267
:) True.

but I am new to Orchard. We are experiencing a lot of weird issues with loading, unloading module and dependencies.  I am looking for a recommendation.

We are using Orchard for module development, configuration management but we are not using the CMS feature.
We have different teams working on different modules.
We have 3-4 releases a day.
We have around 100 modules running.
We have mul

[2019-08-19 06:52] Skrypt commented on #8267
I used to have a staging Azure free Web app to test my modules before loading them on the prod server. But that implicates that this "staging" server should be a perfect replication of the production server which can be quite tricky.

Other though for the future. We might be able to use Docker for testing/deploying if Orchard 1 gets migrated to .NET 5.0 but that's a year from now still. Your best

[2019-08-19 13:24] BenedekFarkas commented on #8267
There were several changes in the past that broke Dynamic Compilation due to the lack of testing (we even have SpecFlow tests for those btw), which is quite unfortunate, because it's a huge productivity boost during development.
But it's fixed for Orchard 1.10.3 (so it's OK on the current 1.10.x and dev branches too) and works with modules installed from the Gallery.

But as @Skrypt said, you're b

[2019-08-21 17:46] BenedekFarkas commented on #7924
OK, so the conclusion is that an project that is part of the reference tree which starts with Orchard.Web can't be Dynamically Loaded. This doesn't really matter for custom modules, because they won't be part of that tree of references, so this doesn't block 1.11.

[2019-08-21 17:46] #7924 closed, assigned to BenedekFarkas

[2019-08-22 16:27] #7927 closed, assigned to BenedekFarkas

[2019-08-22 16:27] BenedekFarkas commented on #7927
@sebastienros, I changed the milestone to dev, because it's caused by a change (332a2676dddf0a08458d287f48d0feaa1bd82eea) on that branch.

[2019-08-22 16:42] BenedekFarkas commented on #6793
@MatteoPiovanelli-Laser I tested the current dev branch to make sure I understand where we're starting from (mostly because this issue and the associated PR is old) and you can render the FrontEndCultureSelector with a Shape Element in a Layout Widget. If the currently displayed content item has translations, you can switch to those, so that's great.

Is there a way in the current Orchard dev code

[2019-08-22 17:22] BenedekFarkas commented on #6806
Fixed in 0279b1e79e70f617a976a2b203b646453f31aa42

[2019-08-22 17:22] #6806 closed

[2019-08-22 17:26] BenedekFarkas commented on #6823
@sebastienros the use-case @jersiovic mentioned above is the usage of a token - I'd prefer your recommendation too btw, because it doesn't break existing configuration (when token's aren't used).

[2019-08-22 17:39] #6802 closed

[2019-08-22 18:24] #6821 closed

[2019-08-22 19:08] sebastienros commented on #6823
Wan we switch the element to use `|` but it would mean to create a migration too.

[2019-08-22 19:11] sebastienros commented on #6793
Even in OC we don't do "sticky" cultures. We redirect to the corresponding item, but then if you click on another language then it load this language. Otherwise it would mean to change the content item controller, or intercept it in a middleware ... too complex.

[2019-08-22 19:13] sebastienros commented on #8267
Agreed, don't use dynamic compilation on prod.

Also in your first comment, "1-" is an issue, it should not let you enable the feature.

[2019-08-22 19:14] sebastienros commented on #8266
Sure, only if you also do it in OC

[2019-08-22 23:36] michaelsync commented on #8267
Yes. I've checked our setting and I found that we are not using dynamic compilation.

All of our modules are compiled and packed as NuGet packages. But we still need to use Gallery to install/uninstall the module and its dependencies. So we sill need to load the dll on the fly.

This is where I found the different behaviors for loading/unloading the module at runtime.

[2019-08-23 09:04] BenedekFarkas commented on #8266
Deal! :D

[2019-08-23 09:36] BenedekFarkas commented on #8267
@michaelsync can you tell us more about this use-case? When you're running anything in Production, you should definitely have a precompiled application (including your dependencies as source beforehand for example) to avoid performance and security issues. You might be looking at an incompatibility between module/DLL versions.

[2019-08-23 09:37] BenedekFarkas commented on #6793
We did this kind of redirect with ContentHandlers for a few clients before, not a big deal, really.

[2019-08-23 09:39] BenedekFarkas commented on #6823
Actually, we can detect that a `:` corresponds to a Token and not a separator, because Tokens are between `{` and `}` characters. So we might be able to implement this without having to change what you type in the field, just make the deserialization smarter.

[2019-08-23 10:05] BenedekFarkas commented on #5624
Closing this and the PR: I couldn't reproduce the issue, so I'm assuming that changes made since then (probably #6899) fixed this too.

[2019-08-23 10:05] #5624 closed

[2019-08-23 14:04] BenedekFarkas commented on #6941
@sebastienros I agree with the changes in this PR. If understand correctly, the only implication of this change is that a resource URL that starts with "//" and CdnSupportsSsl = true will together enforce SSL for the resource. If you think the code and concept of the change is OK, then I'll test it + verify unit tests.

[2019-08-23 14:22] BenedekFarkas opened #8268 "Getting rid of [Obsolete] stuff"
We have a few dozen `[Obsolete]` components. This issue is about removing as many of them as possible, the deciding condition being that the component was marked obsolete more than a release ago.

[2019-08-23 17:04] BenedekFarkas commented on #6948
Fixed in 83ba470cd2ba207e6c7d46072a3ff2b425380b58

[2019-08-23 17:04] #6948 closed

[2019-08-25 13:16] #6937 closed

[2019-08-25 15:00] #6924 closed

[2019-08-25 15:03] BenedekFarkas commented on #6960
Implemented in #7923 and #8112.

[2019-08-25 15:03] #6960 closed

[2019-08-25 15:18] #7070 closed

[2019-08-26 12:49] MatteoPiovanelli commented on #8262
I am closing this issue because further tests in release mode show that the proposed changes have no actual impact on performances.

[2019-08-26 12:49] #8262 closed, assigned to nobody

[2019-08-26 14:58] #6966 closed

[2019-08-26 15:55] BenedekFarkas commented on #5345
@ViRuSTriNiTy please reopen and provide a repro is we should still look at this issue.

[2019-08-26 15:55] #5345 closed

[2019-08-26 15:57] BenedekFarkas commented on #5345
My guess would be that the exception happens when versioning a content item after adding and/or removing a content part, so one of the conditions will see a null.

[2019-08-26 16:24] BenedekFarkas commented on #6247
@HermesSbicego-Laser please close the issue if you can confirm it's fixed.

[2019-08-27 08:39] MatteoPiovanelli commented on #6748
Besides having added a bunch of characters, in #7577 I added a validation to the FileSystemStorageProvider to further prevent invalid characters in the path. Something similar could be done for Azure. It should be straightforward, but I am not volunteering because we don't use Azure storage and I would have no way to test or validate this.

[2019-08-27 08:50] LorenzoFrediani-Laser opened #8270 "Error logged on 1.10.x deleting contentitem"
On 1.10.x the AutoroutePartHandler on RemoveAlias method take the contentitem's published version  and fire the AutorouteService.RemoveAliases method with AutoroutePart as parameter

this is the code
        void RemoveAlias(AutoroutePart part) {
           ..........
            var publishedPart = _contentManager.Get<AutoroutePart>(part.ContentItem.Id, VersionOptions.Published);
            _aut

[2019-08-27 09:01] HermesSbicego-Laser commented on #6247
I tried with my 600K Contents tenant; and I can see an improvement in perf.
But the query **still run in more than 10 seconds** when I try to list the last pages of the list...

see the below query: the lower `@p8 ` is, the faster is the query.
I suppose the problem is the ROW_NUMBER() function used to page results:
`SELECT TOP (@p0) ... WHERE ... query.__hibernate_sort_row > @p8`
[code]

[2019-08-27 09:21] #7686 closed, assigned to nobody

[2019-08-27 17:54] BenedekFarkas commented on #7770
Fixed in c8f5fd731ea79f62d8fd32957970071013a806fc.

[2019-08-27 17:54] #7770 closed, assigned to nobody

[2019-08-27 17:54] BenedekFarkas commented on #906
Fixed in c8f5fd731ea79f62d8fd32957970071013a806fc.

[2019-08-27 17:54] #906 closed

[2019-08-27 20:28] BenedekFarkas commented on #6588
Fixed in #f46be479a3d3a68cd2bcc5e9704e3efbfdafa6f6.

[2019-08-27 20:28] #6588 closed

[2019-08-27 20:28] BenedekFarkas commented on #6310
Fixed in #f46be479a3d3a68cd2bcc5e9704e3efbfdafa6f6.

[2019-08-27 20:28] #6310 closed

[2019-08-27 21:00] BenedekFarkas commented on #1135
Content definitions are independent from the extensions that creates them. If the extension is disabled, the functionality specific to that extension is disabled too, but the rest of the content item is still functional and valid, although might not be usable completely.

[2019-08-27 21:00] #1135 closed

[2019-08-27 21:01] BenedekFarkas commented on #1187
Fixed in c8f5fd731ea79f62d8fd32957970071013a806fc.

[2019-08-27 21:01] #1187 closed

[2019-08-28 15:46] MatteoPiovanelli opened #8272 "TermAdminController.RenderTermSelect crashes menu creation"
TermAdminController.RenderTermSelect
This is used when trying to add/edit a TaxonomyNavigationMenuItem in a menu.

As is:
this method checks the ManageTerms Permission.
If a user has the permissions to manage menus, but they don't have ManageTerms, attempting to add/edit a TaxonomyNavigationMenuItem to a menu causes a crash.

[2019-08-29 19:06] sebastienros commented on #6247
There are custom settings that let you define how many pages of items to display in the admin. This should be used in the lists (and it is in the content items one) to prevent the use of COUNT. And it make the pages much faster.

[2019-08-29 19:13] sebastienros commented on #6941
I think we should just follow what @anoordende suggested, to remove this option completely as the url itself is sufficient.

[2019-08-29 20:25] BenedekFarkas commented on #8147
We already have an ongoing discussion under #5159. What indices would you recommend adding? There are a few that we added recently btw (IdentityPartRecord.Identity, UserPartRecord.NormalizedUserName, CommonPart(Version)Record date times).

[2019-08-29 20:33] BenedekFarkas commented on #6247
I added this to 1.11 so we don't forget to investigate - might be an easy fix worth including.

[2019-08-29 21:16] #6941 closed

[2019-08-30 11:59] #8270 closed, assigned to nobody

[2019-09-02 09:50] MarcoViglione-Laser opened #8273 "Terms are saved as draft when changing weight and LocalizationExtensions is enabled"
Issue found on dev branch.

Reproduction steps:
- Enable the feature "Orchard.Taxonomies.LocalizationExtensions"
- Create new taxonomy term
- Change its weight
- Save

The term will appear in the list as a draft. Saving it a second time will actually publish it.
I already have a fix, I'll add it soon as a pull request.

[2019-09-05 11:01] #8273 closed, assigned to nobody

[2019-09-05 11:04] BenedekFarkas commented on #8273
@MarcoViglione-Laser this is not directly related to this issue, but maybe you can help: I noticed that when TaxonomiesLocalizationExtensions is disabled, when I publish a Term (doesn't have to be a Draftable type), there's always two new versions created (and the second of those two will be the Published version). I assume that's because ContentManager.Get is called with DraftRequired, but I gues

[2019-09-05 17:40] rthm93 opened #8276 "Setup Failed on Postgresql 11"
I faced the following error while trying to setup with Postgresql.

[code]

Repro steps:
1. Clone latest version from current repo.
2. Open `Orchard.sln` in `/src` folder with Visual Studio 2019 Community Edition
3. Press F5 to run
4. Fill in necessary information and choose default recipe

PostgreSQL version: "PostgreSQL 11.5, compiled by Visual C++ build 1914, 64-bit"

[2019-09-05 20:08] #6928 closed

[2019-09-07 05:36] rthm93 commented on #8276
The following are the stack trace of exception, hope it helps.

[code]

[2019-09-18 11:05] xtomas commented on #4950
Without modifying admin.js (orchard source) I use in own module something like this:
[code]

[2019-09-28 23:56] nelsony2000 opened #8277 "Unable to see themes effect in IIS"
I had deploied the latest 1.10.3 website in IIS (using Orchard.web zip file) and found that it doesn't have any theme/style on the website.  I had also tried rebuild/publish the project using visual studio2009 and got the same result.  There's no error in iis log as well as the Orchar log.

[2019-10-03 19:04] sebastienros commented on #8277
Can you try to "ping" one of the assets that are requested? I assume you are actually hitting 404s for all these themed assets.

[2019-10-08 15:33] thesecuritycompany opened #8279 "locked out"
Hello,

I've recently joined a company who need to update their Orchard content. Unfortunately the old developers who set it up have gone.

I've tried following various guides online that suggest changing a field in the users table to "Clear" to remove the hashing. I've then changed the password to something like "Password#123" to try an gain access but to no avail.

I'm wondering if these guides

[2019-10-10 19:03] sebastienros commented on #8279
You need to change it in the contentitemversion table too, it has the whole data in xml.

[2019-10-14 13:19] TheDevelolper commented on #8279
Sorry but that's very little to go on... Where is Content Item Version? I don't see a table with that name?

I found Orchard_Framework_ContentItemVersionRecord

but it has rows and rows of data. I have no idea what I'm supposed to be looking for to change the password?

[2019-10-14 14:12] TheDevelolper commented on #8279
I finally managed to find what I was looking for.

You need to find the record in the above table with the same ID as the user ID. It will have some XML metadata associated with that user. For some reason, all the info in the table is represented as XML.

I copied the data out into vscode and edited it. I then updated the record and it worked.

[2019-10-17 19:15] #8279 closed, assigned to nobody

[2019-10-19 23:34] nelsony2000 commented on #8277
Sorry, I am a new developer and not sure how to ping the asset.  But I found if I run from Visual Studio 2019, then everything is working fine.  The problem only happened when I published to IIS.

[2019-10-21 10:30] HermesSbicego-Laser opened #8281 "Orchard documentation: infinite redirect"
trying to access to
http://docs.orchardproject.net/Documentation/Alternates we obtain an ERR_TOO_MANY_REDIRECTS error

[2019-10-24 19:05] sebastienros commented on #8277
You probably need to add some user permissions on the Media folder.

[2019-10-24 19:09] sebastienros commented on #8281
Add /en/latest before the path in the meantime. Must be an issue with readthedocs as on Google it's indexed correctly without this prefix.

[2019-11-11 09:57] duncanhoggan opened #8283 "Invalid header parsing in Workflow HTTP request"
Having a little issue with an http request from workflow.
It looks like the code doesn't cater for requests that have ` :` characters in the value.
For reference from here
[code]
So if i was passing in the following as a header
`Authorization: key=BAB3jQ6PE:BP91bEkXE9`
The split would result in a pair length of 3 and no header would be added.

[2019-11-11 10:01] duncanhoggan commented on #8283
Closing, wrong repo soz.

[2019-11-11 10:04] #8283 closed, assigned to nobody

[2019-11-14 09:28] MatteoPiovanelli opened #8284 "Performance Issue: GetSiteSettings"
Tagging @sebastienros @HermesSbicego-Laser @BenedekFarkas

We have been doing some performance work on our Orchard installations lately.
As part of that I've been profiling a copy of one of our tenants that I have on my dev box.
The process I was profiling was the repeated access (a few hundred times) to a cached page (a version from my local tenant of https://www.anfiteatromorenicoivrea.it/erbalu

[2019-11-14 11:23] MatteoPiovanelli commented on #8284
On a similar analysis, we found a similar performance issue with:

    Orchard.Localization.Services.SiteCultureSelector.GetCulture(HttpContextBase context)

It's a different tenant, so a different configuration, and for cached contents that method used roughly 52% CPU time.
(again, based off what VS2017's profiler is showing me)

[2019-11-14 11:51] MatteoPiovanelli commented on #8284
In non-cached pages we see, for the first tenant, around 26% of CPU cylces are in `Orchard.Core.Navigation.Services.NavigationManager.BuildMenu(IContent menu)`. A good chunk of that is in the Merge and Arrange static methods. I would think that wrapping those in a call to a cache manager would improve stuff. A key could be generated by appending a list of MenuItem ids (sorted?)

[2019-11-14 20:09] sebastienros commented on #8284
1-

I don't understand how calling `As<SslSettingsPart>` will trigger `Orchard.SecureSocketsLayer.Services.StrictTransportSecurityMiddlewareProvider.GetOwinMiddlewares()`

Can you explain ?

2- I assume this is the same issue as 1- as it calls `_workContextAccessor.GetContext().CurrentSite`

3- In Orchard Core we decided to cache the menu on the front end pages. Even if the page is not cached.

[2019-11-14 20:49] MatteoPiovanelli commented on #8284
1- I was not clear, sorry. The call to
`var sslSettings = _wca.GetContext().CurrentSite.As<SslSettingsPart>();`
is in the `GetOwinMiddlewares()` method.
I would replace that line with something like (I forget the exact syntax right now)

    var sslSettings = _cacheManager.Get("a proper key", (ctx) => {
        ctx.Monitor(_signals.When("a signal triggered by updates to the SslSettingsPart"));

[2019-11-20 16:03] MatteoPiovanelli commented on #8284
I should have a PR with 1, 2 and 3 ready tomorrow

[2019-11-20 16:10] MatteoPiovanelli commented on #8221
Notes regarding this:

line 47: we get the Ids of taxonomies from the respective content items
line 50: for each taxonomy id, we fetch the contentitem again, and then its culture

line 51: we get the ids of terms by fetching the termparts
line 54: for each term it, we fetch the termpart again

line 55: we call _taxonomyExtensionsService.GetParentTerm. That takes the container item for the term, an

[2019-11-20 17:15] GiuseppeMusso-Laser opened #8286 "Setting "Try to translate" == false not effective on localized taxonomy field"
Hi all.
I experienced a problem with localized taxonomies in dev branch.
In a custom module, I need to translate a content item **programmatically**, without opening it in edit on the web page.
My original content item is localized and it has a localized taxonomy field with setting "Try to translate the selected terms" **unchecked**.
When I translate my original content item, my cloned content ite

[2019-11-21 16:01] MatteoPiovanelli commented on #8284
On my tenants/setup
1+2 gave me roughly a 30% reduction of the profiled CPU time for cached pages
3 gave roughly a 40-50% reduction of the profiled CPU time for non-cached pages where it used to rebuild the menu from scratch.

I am preparing a PR.

[2019-11-21 16:13] MatteoPiovanelli commented on #8284
PR done. I still would like @sebastienros ' opinion on my bonus question above.